[2015-11-23 14:16] acrobat commented on #1685
That's currently not possible, there is already a feature request for it. See #362

So closing this for now, thanks for the report!

[2015-11-23 14:16] #1685 closed

[2015-11-23 15:46] vizart87 opened #1686 "I am trying to get the orientation right for the tooth for date picker.kindly help."
![image](https://cloud.githubusercontent.com/assets/15833615/11341233/d625b0b0-9201-11e5-86a9-f4ab285e3b32.png)

[2015-11-23 17:01] Songissimo commented on #1375
Has this bug been fixed finally?

[2015-11-24 01:16] esnunes commented on #1662
+1

[2015-11-24 10:58] dzbanek commented on #1072
+1

[2015-11-24 15:53] tommysanterre commented on #1344
I am currently working on a pull request to fix this

[2015-11-24 17:35] KrunchMuffin commented on #1635
ok

[2015-11-24 17:35] #1635 closed

[2015-11-25 09:11] huguangju opened #1688 "How to Initialize datepicker with a date and show it in <input> Element?"
this my code:

[code]

There may be a better solution？take for example:
[code]

[2015-11-25 16:35] punchi opened #1689 ""todayBtn" show "today" day without any timezone"
I can set the current day considering timezone with the default value, so when you see the day it's your current local "today" day, but when pressing "Today" (todayBtn: 'linked'), datepicker moves to the UTC current day, the same with todayHighlight: 'true', as it highlight the UTC date.

This should be an improvement?? because there's no option to set any kind of "timezone" in the plugin.

[2015-11-26 01:16] webhacking commented on #464
i got same issue. thx : #https://github.com/eternicode/bootstrap-datepicker/pull/710

[2015-11-26 10:09] GNaruhn commented on #1561
Same Problem here...

I use the change() event to mark changed fields as 'dirty' and also to enable a disabled submit button.

[2015-11-26 11:14] megapctr commented on #987
:+1: holy crap, it's almost 30k!

[2015-11-26 15:13] McNetic commented on #814
Well, we use the datepicker as a polyfill for date input fields, and as such, we try to have the behaviour resemble that a native date input field would have. That means: If the field is disabled (or also readonly), the user can not change it's value. I think datepicker should behave in the same way.

[2015-11-26 18:29] GabrielGil commented on #1375
I've solved the issue with a global control variable, @Songissimo.

[2015-11-27 13:02] oscaruribe opened #1690 "Norwegian locale"
Norwegian locale (nb) is missing <code>format: "dd.mm.yyyy"</code> (same as Danish)

[2015-11-27 14:13] pjammer commented on #236
@fernandoGN thanks! worked for me in the latests jquery and bootstrap-datepicker

[2015-11-27 15:22] blag001 opened #1691 "[Timing Bug] on setDateDisabled + start/end date"
Hello,
I'm facing a really strange bug that seem to be timing related.
I want to change on the fly the date disabled, using some input-binded data (aka I've got a bunch of field, and for some I need to merge the default dateDisable with the data-dateDisable input prop).
I use the default start/end date too, to only allow a part of the year.
The bug is that I can't change the month if the actual da

[2015-11-27 15:35] blag001 commented on #1688
This is a bug tracker, not a help-desk...
For this kind of question, please use website like [StackOverflow](http://stackoverflow.com/questions/tagged/bootstrap-datepicker)

BTW :
https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#id3
or use the jquery `$('.date').val(new Date())` before calling the datepicker

[to close]

[2015-11-27 15:36] #1688 closed

[2015-11-28 12:51] jek-fdrv commented on #1563
Same problem here. =(
The issue is that format 'dd/mm/yy' produce the 4015 instead 2015
$('.from_date').datepicker({
			//format: 'dd/mm/yy',
			startDate: '<?php echo date('d/m/Y');?>',
		}).on('changeDate', function(selected){
			startDate = new Date(selected.date.valueOf());
			console.log(startDate);
               })
})

[2015-11-28 16:58] hebbet commented on #1563
can you provide a jsfiddle?

[2015-11-28 17:17] jek-fdrv commented on #1563
https://jsfiddle.net/w4rqy6ee/4/

[2015-11-28 21:35] thepurpleblob opened #1692 "Doesn't seem to work for UK date format"
Code is as follows...

  $('.datepicker').datepicker({
            dateFormat: "dd/mm/yyyy",
            autoclose: true
        });

It's definitely 'seeing' the format as changing yyyy to yy puts the 2-digit date into the 1900s (which also seems odd but anyway...)

<img width="262" alt="screen shot 2015-11-28 at 21 34 44" src="https://cloud.githubusercontent.com/assets/664139/11454026/e9212ed2-9

[2015-11-28 21:45] thepurpleblob commented on #1692
Sorry... stupid alert. Changed from jqueryui version which has a different 'format'

[2015-11-28 21:45] #1692 closed

[2015-11-29 19:32] acrobat commented on #1682
Thanks @frederikprijck for the solution! Closing the issue

[2015-11-29 19:32] #1682 closed

[2015-11-29 19:33] acrobat commented on #1675
Closing this for now, leave a comment if the problem is with this datepicker

[2015-11-29 19:33] #1675 closed

[2015-11-29 19:36] acrobat commented on #1655
@vsn4ik is this still relevant after PR #1654? Or is it specific with timezone `Europe/Moscow`?

[2015-11-29 19:42] acrobat commented on #1686
Which version of the datepicker do you use? Can you provide a jsfiddle to display the problem?

[2015-11-29 20:50] vsn4ik commented on #1655
Still relevant. Reproduce on `America/New_York`.

[2015-11-29 23:02] owenwe commented on #1347
+1

[2015-11-30 10:54] princeofnaxos commented on #1662
+1

Without 'orientation', the datepicker is placed above the input field, with the arrow on top of it (thus at the wrong side).
With 'orientation: "bottom"', the picker is positioned below the field, with the arrow at the bottom.

Using the bootstrap CSS, the arrow is positioned correctly, but it is upside down.

[2015-11-30 11:16] princeofnaxos opened #1693 "How do I prevent the modal to close when the user clicks outside of it?"
It seems default behaviour to close the modal when the user clicks outside of it. But in my case, I want the datepicker to be persistent, and close it by script.

How do I get this to work?

[2015-11-30 11:17] princeofnaxos commented on #1693
Forgot to mention, that the datepicker is constructed on an INPUT field.

[2015-11-30 12:52] blag001 commented on #1691
Seem the `on('show')` fire more than one time, and that is why the datepicker froze.
Workaround for now : disable `showOnFocus`, handle it by yourself and trigger the `show` when done with your custom option; [by @xjedam](http://stackoverflow.com/a/33971489/5546267)

[2015-11-30 13:19] othyn commented on #978
@SinnlosS Perfect, thank you. Applied the same to 'show' as well, highly annoying issue.

[2015-12-01 14:19] malenkymuk opened #1694 "Bootstrap-datepicker and J-query datepicker conflict"
I'm using autocomplete from Jquery-ui.
Also jquery-ui has own datepicker.
Bootstrap-datepicker and J-query's datepicker conflict.
When using both jquery datepicker replaces Bootstrap-datepicker.

[2015-12-01 15:49] adithyan opened #1695 "datepicker gets broken"
I use requirejs to optimize my project. After optimization, the datepicker gets broken

![screen shot 2015-12-01 at 9 14 53 pm](https://cloud.githubusercontent.com/assets/1707567/11505548/f4be449a-9870-11e5-8818-ecf282b8893c.png)

        format: "dd/mm/yyyy",	// no i18n
        endDate: new Date(),
        autoclose: true,
        orientation: "top left",	// no i18n
        todayBtn: "linked",	//

[2015-12-01 16:11] dquilter opened #1696 "Inline Datepicker Navigation sets year to 1900"
The inline-datepicker intermittently sets the calendar year to 1900 when using the next and prev navigation buttons. This is seemingly at random, but noticeably when you go forward several months and then try to move backwards.

Settings as follows:

{
format: 'dd/mm/yyyy',
daysOfWeekDisabled: [0],
startDate: 'today',
maxViewMode: 'days'
}

[2015-12-02 13:14] brunocascio commented on #1535
+1

[2015-12-03 07:38] mehmedaliosman opened #1698 "Formatting is not applied for initial date"
Hello,
I create the datepicker with the following options
$("#datepick").datepicker({
  setDate: new Date(someDate),
  defaultDate: +7,
  format: 'dd.mm.yyyy'
});
After that I expect the format of the date to be like 18.03.2015, but it's not. It's visualized with the default formatting (18/03/2015). The formatting is applied only after I select different date than the default one.

[2015-12-03 14:18] BrunoViera commented on #1698
same problem.

[2015-12-03 14:38] vizart87 commented on #1686
I fixed the issue with over riding the datepicker.css.
+.datepicker-dropdown.datepicker-orient-top:after {
+    bottom: -6px;
+    border-bottom: 0;
+    border-top: 6px solid #ffffff;
+    top: initial;
+}

[2015-12-03 14:39] #1686 closed

[2015-12-03 16:44] acrobat commented on #610
Fixed in #1700 and will be released with 1.6

[2015-12-03 16:44] #610 closed

[2015-12-03 16:46] acrobat commented on #833
Fixed in #1700 and will be released with 1.6

[2015-12-03 16:46] #833 closed

[2015-12-03 16:55] #1690 closed

[2015-12-03 17:02] acrobat commented on #1698
@mehmedaliosman can you provide a jsfiddle for the problem?

[2015-12-03 17:16] acrobat commented on #1695
Can you provide a jsfiddle to display the problem? I can't reproduce it, see [example here](http://jsfiddle.net/zcvq0yhh/10/)

[2015-12-03 17:22] acrobat commented on #1648
1.5.1 should be released soon! I don't have a specific time but should be out before christmas!

[2015-12-03 17:24] #1648 closed

[2015-12-04 16:14] spudcz opened #1701 "Nuget package still 1.4.0"
Could you please update the lastest released version in nuget repository?

[2015-12-04 18:07] acrobat commented on #1701
We don't maintain the nuget package of this library, but apparently @scott-xu does! So can you update the nuget package?

[2015-12-05 14:38] scott-xu commented on #1701
done

[2015-12-05 15:13] acrobat commented on #1701
Thanks @scott-xu!

[2015-12-05 15:13] #1701 closed

[2015-12-06 20:00] acrobat commented on #1535
@asieira or @brunocascio can you provide a jsfiddle with a possible usecase? I'm going to implement this method but want some usecase to test it!

[2015-12-06 20:20] acrobat commented on #919
Looks like this issue is fixed in version 1.5. See example [here](http://jsfiddle.net/zcvq0yhh/12/). Closing this for now, create a new issue is this problem still occurs!

[2015-12-06 20:21] #919 closed

[2015-12-07 01:46] vbotingnon opened #1704 "Not translate "Months" title in months view"

[2015-12-07 09:42] acrobat commented on #1704
Can you give some more context (and/or example) on what you try to achieve?

[2015-12-07 10:07] vbotingnon commented on #1704
Sorry,

Configuration:
$('#sandbox-container div').datepicker({
    maxViewMode: 1,
    todayBtn: true,
    language: "pt-BR"
});

![git](https://cloud.githubusercontent.com/assets/13349300/11624232/91d8cbaa-9cb9-11e5-81b1-8bddcc41dacd.png)

[2015-12-07 10:10] acrobat commented on #1704
Ah yes! So the issue is not that the key should be translated but that it's not translated but it should be translated?

[2015-12-07 10:14] vbotingnon commented on #1704
Sorry about my English...

The correct is that word be translated like the Today button

[2015-12-07 10:15] acrobat commented on #1704
Ok, issue is clear now! I will fix this for the coming releases

[2015-12-07 19:35] ducman opened #1706 "Date Range: start date screw up when user type in end date"
You can test this in the sandbox. Nothing wrong with selecting a date from the date picker, it's the typing in of the data that is the problem.

1. On the start date, type in 12/01/2015.
2. On the end date, type in 12/20/2015.
3. Notice that the start date got changed to 12/01/2.

Pretty much the user hasn't finish entering in the year in the end date and it's already formatting the start date to

[2015-12-07 19:42] ducman opened #1707 "Date Range: confusing selection of dates"
You can test this out in the sandbox.

If you click on the start date input, you'll have to select the end date first then the start date second on the same date picker popup to have the range filled out correctly. If you click on the end date input, you'll have to select the start date first then the end date second on the same date picker popup to have the range filled out correctly.

I find thi

[2015-12-08 18:25] acrobat commented on #1704
I've fixed the issue in #1708, can you provide the translation for "months" in pt-BR? Then I will add it to the PR

[2015-12-08 21:01] acrobat commented on #905
Possibly fixed by #1428

[2015-12-08 21:12] acrobat commented on #969
This config can be used to achieve that

[code]
See example: http://jsfiddle.net/zcvq0yhh/13/

Closing for now, please open a new issue if you (still) experience a bug

[2015-12-08 21:12] #969 closed

[2015-12-08 21:16] acrobat commented on #956
In 1.5.0 the format option was extended with 2 new sub-options `toValue` and `toDisplay`. See docs [here](http://bootstrap-datepicker.readthedocs.org/en/v1.5.0/options.html#format)

You could use these new options to solve your problem!

[2015-12-08 21:16] #956 closed

[2015-12-08 21:20] acrobat commented on #1087
In 1.5.0 the format option was extended with 2 new sub-options toValue and toDisplay. See docs [here](http://bootstrap-datepicker.readthedocs.org/en/v1.5.0/options.html#format)

Could these new options added in 1.5.0 fix this issue?

[2015-12-08 22:30] camohub opened #1709 "Input-group icon does not work properly"
Hi,
I am playing with datepicker and I think the example with input-group should have explanation that data-provide="datepicker" or js init has to bind with div.date not with input.
[code]

[2015-12-08 22:37] vsn4ik commented on #1709
Your code wrong. Move last double quotes on `div.input-group`.

[2015-12-08 22:48] camohub commented on #1709
Ok.

[2015-12-09 04:02] yamateH-ch opened #1711 "about show events"
My date input box already has a value from the database,when i add show event,
If I only Click and don't have a choice, the value is gone.
if  I not add this event ,this not happend.
why?
Stick my code：
$('.date-picker').on('show', function(ev){
// my code
				    	   });

[2015-12-09 12:20] bilgehanm commented on #925
Had same issue. Any update on this?

[2015-12-10 08:36] Emyleen opened #1712 "getDate in multiple datepicker returns null"
Hello!
I'm working on 2 datepicker, one for start date and the other for end date.
I want to lock days in a datepicker in function of the other datepicker but when I try to getDate it returns null.

http://jsfiddle.net/560covgw/

Look in the console. Thank you for your help!

[2015-12-10 16:06] gioloi commented on #1706
I confirm the problem. It works well only if you select 'yyyy/mm/dd' as date format

[2015-12-10 16:56] gioloi commented on #1347
+1

[2015-12-10 17:36] bradykey commented on #1364
Definitely has something to do with margins existing in a parent div that the datepicker control is a child of. Like @yoyos, if you get rid of the `appendOffset` subtraction adjustments to the `var left = offset.left` and `top = offset.top` declarations in the javascript, then the offset is no longer an issue. I could see how setting the `data-date-container` property using the lazy loading data-a

[2015-12-10 17:40] bradykey commented on #1662
It's worth checking out #1364 and what @yoyos has to say about removing the `appendOffset` subtractions from the `left` and `top` var declarations.

[2015-12-10 17:40] gioloi commented on #1706
A temporary fix... Allow the fire of the changeDate event only when the length of date (as string) equals the length of the format so it will be fired only when the date is completely typed  (Actually it fires at every key stroke...)
If you use v1.5.0 find the lines starting with this comment "// setting date by typing" and replace this piece of code:
[code]
with this:
[code]

Not fully tested but

[2015-12-11 09:54] gioloi commented on #1706
The problem happens because the changeDate event is triggered as you type, i.e. on every key stroke, so when entering the end date a validation occurs and the start date is changed even when the end date is not fully typed. To fix the problem the changeDate event should be triggered only when the date is fully typed.
My fix (i'm using v1.5.0):
search for '// setting date by typing' comment in boot

[2015-12-14 05:49] prashanthsun9 opened #1715 "Default dates are not getting displayed."
Default dates are not displayed, I am trying to select today's date and one month previous date, which is not displayed inside the input box, i have tried all kinds of solutions and every possible resolution provided by users in github and as well as stackoverflow, nothing worked, please help, below is my code.

    $('#from').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,

[2015-12-14 07:06] hebbet commented on #1715
can you provide a jsfiddle?

[2015-12-14 10:10] prashanthsun9 commented on #1715
OK, i figured out the problem it is with jQuery plugin, everything works fine, with just datepicker files added as external resources, if I add jQuery plugin then nothing works, here is a fiddle link,
http://jsfiddle.net/DwT8M/675/

[2015-12-14 16:13] ArvidEnbom opened #1716 "input field is hidden when datepicker is closed"
Hi. Great datepicker, looks awesome. I found a bug, however. I tried using a date range, and whenever the date picker window was closed, the entire input text field was hidden.

I solved it by using find and replace with my editor to replace every instance of `this.hide();` with `this.picker.hide();` in the javascript file, but I'm sure I was doing something wrong, since the online demo worked fin

[2015-12-14 16:24] ArvidEnbom commented on #1716
I tried to replicate the issue on jsfiddle, but I was unable to
http://jsfiddle.net/nkmztt2k/3/
it works fine there as well
I've yet to encounter any unwanted side effects from replacing `this.hide();` with `this.picker.hide();` though so I guess I'll keep that

[2015-12-15 09:58] yoyos commented on #1662
I don't have much to say except I didn't find the usefulness of appendOffset  and everything was fine without it :p.

I haven't check the new release to see if problem was resolved.

[2015-12-15 11:40] baardbaard opened #1717 "Arrows not showing up"
Hi,

I implemented the standalone version of the datepicker and everything seems to be working fine, except that the next and previous arrows don't show up. I can click where they are supposed to be and it works, but I would really like some arrows.

I found #610 and there's supposedly a fix in the works for 1.6, but what can I use in the meantime?

Thanks.

[2015-12-15 11:53] acrobat commented on #1717
What you could try is to overwrite the arrow classes like this:

[code]

But that's a hacky workaround. I'm going to try to wrap things up and have 1.6 out by the end of the year (no specific timing for the moment!)

[2015-12-15 12:29] baardbaard commented on #1717
Thank you for the quick response. This will do for now. Looking forward to the 1.6 release!

[2015-12-15 12:29] #1717 closed

[2015-12-15 18:33] dougkozar opened #1718 "Back and Forward Arrow Navigation Broken"
The Back and Forward navigation arrows in the calendar pop-up widget work properly in the 1.5.0 CDN version at CloudFare (https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js) but do not work properly in the 1.5.0 version here on GitHub.

[2015-12-15 18:38] dougkozar commented on #1662
changing line 718 tp `top = offset.top - 0;` fixes the issue

[2015-12-16 01:23] gaojianzhuang opened #1719 "1.6.0Dev The year navigation error"
If we click the back button in the top year area, the time show wrong.

[2015-12-16 03:04] vHades0199 opened #1720 "[1.6.0-Dev] Clicked on prev or next"
Hi. I found a bug when click on glyphicon in prev button.
Can fix like this:
             // Clicked on prev or next
            var navArrow=target.closest('.prev, .next')
             if (navArrow.length > 0) {
                 dir = DPGlobal.modes[this.viewMode].navStep * (navArrow.hasClass('prev') ? -1 : 1);

[2015-12-16 07:20] acrobat commented on #1720
Hi @vHades0199 , thanks for the bug report! Can you provide a jsfiddle to display the problem? As I can't reproduce it

[2015-12-16 07:26] acrobat commented on #1719
@Azaret seems to be a bug wxhen u switch to decade or century view then the laft arrow also goes up: http://jsfiddle.net/zcvq0yhh/15/

If you have time to look at it that would be great! Otherwise I will have some time in the weekend!

[2015-12-16 07:27] acrobat commented on #1718
Hi @dougkozar thanks for the bug report, can you provide a jsfiddle to display the problem?

[2015-12-16 08:12] trinzia commented on #1087
This looks like exactly the thing I need, in order to get setup correctly.
Thanks so much. :)

[2015-12-16 08:13] acrobat commented on #1087
Ok, great! Closing the issue!

[2015-12-16 08:13] #1087 closed

[2015-12-16 11:04] ArsenePadthai commented on #1720
Hi, I also found this bug.
When clicking the prev arrow,  it sometime goes to the next month. @vHades0199 your solution can fix this, thank you.

[2015-12-16 11:05] acrobat commented on #1720
@ArsenePadthai can you provide a jsfiddle to display the problem? Makes it easier to fix and test

[2015-12-16 13:49] SanderVanDam commented on #1720
Its the same issue as https://github.com/eternicode/bootstrap-datepicker/issues/1719 and the solution provided by @vHades0199 solves it.

[2015-12-16 16:11] tgirardi opened #1721 "Rename "remove" function to "destroy""
Bootstrap plugins use the name "destroy" for the method that removes the plugin form the web page. I suggest using the same name for standardization purposes.

For backward compatibility, the name "remove" could be an alias of "destroy".

I can make a PR of this if you find it to be a good idea.

[2015-12-16 20:18] acrobat commented on #1721
That sounds like a good idea! Please create a PR if you have the time, thanks!

[2015-12-17 05:17] ArsenePadthai commented on #1720
http://jsfiddle.net/hjv4xL74/
@acrobat Hi, someone has already provide the jsfiddle related to this bug as #1719. However, I provide this jsfiddle as an alternative. Hope it can help.

[2015-12-17 07:23] acrobat commented on #1720
Thanks @ArsenePadthai! It looks like it's related to #1719 but here the bug already occurs on the day selection.

I will come up with a fix!

[2015-12-17 10:18] ArvidEnbom commented on #1716
I've found the cause. It's prototype.js
Solution here http://stackoverflow.com/questions/19139063/twitter-bootstrap-3-dropdown-menu-disappears-when-used-with-prototype-js

[2015-12-17 10:18] #1716 closed

[2015-12-17 13:04] divinedragon commented on #236
Anybody who is struggling with datepicker not closing when the date is selected in a modal window, can use the following fix.
Here is the issue demo on jsFiddle - http://jsfiddle.net/R9AT2/1/
Here is the fix demo on jsFiddle - http://jsfiddle.net/divinedragon/R9AT2/87/

The trick is to set the focus back to modal div.

    $("#datepicker").datepicker({
        onSelect: function() {
            $(

[2015-12-17 15:39] tgirardi commented on #1721
Nice. Work for the weekend then hahaha
On Dec 16, 2015 17:44, "Jeroen Thora" <notifications@github.com> wrote:

[2015-12-18 06:18] jack-fdrv opened #1724 "clearDates and 2 input one datepicekr doesnt work"
Date range doesnt work like on example.
![51](https://cloud.githubusercontent.com/assets/4230282/11890473/7f2ed8e4-a55d-11e5-9ca6-5cc1b9d99ba4.png)
http://jsbin.com/bisolexova/edit?html,output

[2015-12-18 06:43] jack-fdrv opened #1725 "Autoclose = true with date tange."
It should close date picker pop up after we select end date not after start date.

https://eternicode.github.io/bootstrap-datepicker/?markup=range&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&autoclose=on&keyboardNavigation=on&forceParse=on#sandbox

[2015-12-18 20:58] SpringsTea opened #1726 "Change Date"
I'm going to have an aneurysm. I know this stuff is all over here, and there's tons of answers to this question, but non of them WORK.

I'm just trying to change the chosen date of a picker. Thats all. How easy.

Heres my input:
`<input type="text" class="input-small form-control"  name="start" id="date-range-start" />`

I have a picker that does some stuff:
[code]

And basically I want to be able

[2015-12-18 21:43] #1720 closed

[2015-12-18 21:43] acrobat commented on #1719
Fixed in #1722

[2015-12-18 21:43] acrobat commented on #1720
Fixed in #1722

[2015-12-18 21:50] #1557 closed

[2015-12-19 16:53] #1719 closed

[2015-12-19 18:41] acrobat commented on #1704
Fixed in #1727

[2015-12-19 18:41] #1704 closed

[2015-12-21 18:16] hvjackson opened #1728 "Datepicker automatically causing a postback in ASP.NET"
I use Datepicker with an ASP.NET Web Forms site. Version 1.4.1 worked fine for me but as of 1.5.0 I am noticing the following bug:

If an ASP.NET TextBox with the setting "AutoPostBack=true" is used as the base element for a Datepicker, the datepicker code automatically triggers a page postback, which causes the page to reload, which causes the postback to be triggered, etc. In other words, the pa

[2015-12-22 10:59] cyberbobjr commented on #1718
Hi,
i'm confirm the bug...

[2015-12-22 12:04] vsn4ik commented on #1718
Fixed by #1722?

[2015-12-22 12:56] #1344 closed

[2015-12-22 18:02] felipe-canaviri commented on #1080
The fix provided by @sularome is working pretty well. Thanks !

[2015-12-23 21:10] canfiax opened #1733 "Bootstrap 4 support"
What about Bootstrap 4 support?

[2015-12-24 10:22] acrobat commented on #1733
Bootstrap 4 progress is tracked in #1670. But we won't start on a BS4 theme until they reach the beta stage

[2015-12-24 10:22] #1733 closed

[2015-12-24 14:16] dyardyGIT commented on #1698
was there a resolution? (i have same issue trying to set default value WITH formatting)

        $(element).closest('div').datepicker({
            format: pickerOptions.format,
            autoclose: pickerOptions.autoclose,
            todayHighlight: pickerOptions.todayHighlight,
            clearBtn: pickerOptions.clearBtn
        }).on('changeDate', function (e) {
            value(e.date);

[2015-12-24 17:41] dyardyGIT commented on #764
I have issue that   if (ko.isObservable(value)) { is always false and so my observable never gets updated..ideas?

[2015-12-27 13:10] vsn4ik commented on #1694
See: http://bootstrap-datepicker.readthedocs.org/en/master/#no-conflict-mode.

[2015-12-27 20:13] acrobat commented on #1694
Closing this as the link from @vsn4ik should fix the issue

[2015-12-27 20:13] #1694 closed

[2015-12-28 03:27] tomvolek opened #1736 "Please add numbers to local file ..."
HI :

  I am using Persian local of the date picker, It displays days of the weeks correctly , but it is missing the basic day number translations.  I have them listed bellow, can you please add these to Persian/Farsi locale as a bug fix.  Thanks

Template.form_enter_product.rendered=function() {
$('#created-datepicker').datepicker({language: 'fa' } );
};

0 = ۰
1 = ۱
2 = ۲
3 = ۳
4 = ۴
5 = ۵
6 = ۶

[2015-12-28 11:29] ManuelHaas opened #1737 "bower package is not up-to-date"
Hi!

When I try to add the package in Visual Studio 2015 with bower the latest version available is 1.4.1.

I'm not sure where the problem is located - is it on your side or is it a Microsoft problem?

Best regards, Manuel

![bootstrap-datepicker](https://cloud.githubusercontent.com/assets/10881695/12018116/785e925c-ad5f-11e5-8384-a24dee1411ae.PNG)

[2015-12-28 12:39] acrobat commented on #1737
This looks like an issue with Visual Studio as bower just uses the tags available on github. You can check the [libraries.io page](https://libraries.io/bower/bootstrap-datepicker) for all available versions!

[2015-12-28 12:39] #1737 closed

[2015-12-28 21:20] #1608 closed

[2015-12-29 00:03] MarcPinnell opened #1739 "Inline or Embedded Calendar not Responsive?"
New to your Date Picker. Super simple to implement, thank you!

After getting it up and running, I realized the embedded calendar wasn't responsive. I don't see any options to set it to be, nor do I see any particular CSS that needs to be changed to make the calendar responsive.

Suggestions?

[2015-12-29 04:50] sanals opened #1740 "JQuery datepicker unable to navigate with keyboard when Startview changed to month or year"
JQuery datepicker is unable to navigate with keyboard when Startview changed to 1-month or 2-year. I have given the link below for reference.
I am using the pluign from this link: http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=2&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidat

[2015-12-29 06:16] sanals commented on #1740
Sorry I didn't know that, I was able to change year by pressing down Ctrl and could change month with shift. Had to go through the code o ind that. Thanks...

[2015-12-29 06:25] prashanthsun9 commented on #1715
Not a bug, it was angular which was causing a problem, fixed it by my self, thank you, anyway :)

[2015-12-29 06:25] #1715 closed

[2015-12-29 08:25] #1740 closed

[2015-12-29 08:26] hebbet commented on #1739
can you provide a jsfiddle?

[2015-12-29 09:26] acrobat commented on #1740
@sanals you can check [the docs here](https://bootstrap-datepicker.readthedocs.org/en/latest/keyboard.html#up-down-left-right-arrow-keys) to get more info on the keyboard support

[2015-12-29 09:31] pkundan24 commented on #464
for model use z-index:999

[2015-12-29 11:49] activebiz opened #1741 "Typescript defination"
It would great if the control support typescript. There is a definition file at https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/bootstrap.v3.datetimepicker/bootstrap.v3.datetimepicker.d.ts but it looks outdated.

As everything is going towards ECMA Script 2015 (and typescript) it would be great if there is a typescript definition under the same repo as the code.

Great control btw.

[2015-12-29 15:13] hebbet commented on #1741
the linked file is about datetime**picker**, closing that ticket.

[2015-12-29 15:13] #1741 closed

[2015-12-29 15:50] MarcPinnell commented on #1739
Haven't done that before, but here goes! https://jsfiddle.net/SoccerGuy3/zn4zf6rs/

[2015-12-29 15:52] MarcPinnell commented on #1739
https://jsfiddle.net/SoccerGuy3/zn4zf6rs/

On Dec 29, 2015, at 12:26 AM, hebbet <notifications@github.com> wrote:

Marc Pinnell
1027 Design
PO Box 990872
Redding, CA 96099-0872
530.941.4706
fax: 866.232.5300
www.1027Design.com
Certified Lasso Developer

[2015-12-30 02:07] luqin opened #1742 "remove .idea on npm"
remove unnecessary file on npm such as docs, grunt, .idea

[2015-12-30 14:04] acrobat commented on #1742
And where do you have the .idea directory? There is nog grunt dir in the docs directory

[2015-12-30 14:13] luqin commented on #1742
docs, grunt, .idea

[2015-12-30 15:11] hebbet commented on #1742
i can't find any .idea-file.

[2015-12-31 01:17] webhacking commented on #1742
where is .*idea-files?? i can't find

[2015-12-31 01:18] luqin commented on #1742
![image](https://cloud.githubusercontent.com/assets/2267688/12059903/820f7fae-af9f-11e5-835c-4bde2c46e3d0.png)

[2015-12-31 11:40] hebbet commented on #1742
could verify it with a fresh install of npm.

added .npmignore with 2c7d569384cdd3d

[2015-12-31 11:40] #1742 closed

[2015-12-31 11:59] luqin commented on #1742
:+1:

[2016-01-02 16:30] CamaroMan commented on #312
hi guys - not sure if its relevant here, but im opening the datetimepicker in a bootstrap modal..

When i open the datetime picker to select a date, it zooms the page ever so slightly (chrome 4.4.2).. its super annoying because after that the page is zoomed and some content is clipped off..

i added this line to the header

<meta name="viewport" content="width=device-width, initial-scale=1, maximu

[2016-01-02 18:46] hebbet commented on #312
you are in the wrong repository. that one is about datepicker and **not** datetime***picker***

[2016-01-04 06:24] tony1016 opened #1743 "datesDisabled use UTC timezone,but startDate & endDate use local TimeZone"
It's all about disable some days.But the different date type makes user confused.Isn't it??

[2016-01-04 12:53] gchjob commented on #145
@sidronsile 添加一个配置项即可: {minViewMode: 1}，this my solution:
$('.date-picker').datepicker({
            format: "yyyy-mm",
            minViewMode: 'months', // or 1, 月选择
            startView: 'decade' // or 2, 10年选择
        }).on('changeMonth', function(e) {
            $(e.currentTarget).data('datepicker').hide();
        });

[2016-01-05 13:43] #1696 closed

[2016-01-05 19:08] MarcPinnell commented on #1739
ping....

[2016-01-07 13:31] andreventuravale opened #1745 "When a date is selected and we click outer of the field (anywhere in the page) the date is lost and the field is cleared."

[2016-01-07 13:45] russ-ab commented on #1739
Check this out: https://jsfiddle.net/4zbrh768/1/

[2016-01-07 15:32] MarcPinnell commented on #1739
Beautiful! Thanks!

[2016-01-07 19:37] acrobat commented on #1739
So I guess your issue is fixed @MarcPinnell?

[2016-01-07 21:07] MarcPinnell commented on #1739
Yep! Worked perfectly.

[2016-01-07 21:07] #1739 closed

[2016-01-07 21:34] adambiggs commented on #1561
I just ran into this problem as well... We listen to `change` events because we only initialize the datepicker plugin on desktop. On mobile we fall back to using native HTML5 datepickers.

The `change` event should have the same behaviour as native HTML5 datepicker fields. I.e. it should only be triggered when the user changes the field's value.

[2016-01-07 23:11] jeremyschultz opened #1746 "Release date for 1.6.0?"
Just wondering when 1.6.0 and its assumeNearbyYear option will be officially released. Thanks!

[2016-01-08 00:10] tclindner commented on #1746
+1

[2016-01-08 07:16] acrobat commented on #1746
My plan is to have 1.6.0 released by the end of the month, but we will work with some beta/rc releases first. So I hope you guys can give those RC's a test before the final release!

I will ping this issues when the beta/rc is out! (and the stable release)

[2016-01-08 07:48] acrobat opened #1747 "Release 1.6.1"
1.6.1 changelog

## Bugfixes

- #1786 - add specific class for disabled dates back (Fixes #1785)
- #875 - [fix] Allow keyboard navigation for non-input fields (Fixes: #874)
- #1867 - fix kazakh mothShort
- #1878 - Fix bug when clicking on a day that is highlighted today in the next month
- #1826 - dates read out are 12am UTC
- #1731 - Fix show by component (with disabled attribute)

[2016-01-08 07:48] acrobat opened #1748 "Release 1.7.0"
1.7.0 changelog

## Features
- Adding dateCells option (#1723)
- Added keepEmptyValues option (#1558 + #1901)
- added "changeViewMode" event; also adds the current `viewMode` to events (#1953)
- adds `updateViewDate` option (#1982)
- Added hiding week day names functionality (#2087)
- Allow customizing day cell value (#2043)

## Bugfixes
- originalEvent object needs preventDefault fn (#1824)
- Fix

[2016-01-08 07:50] acrobat commented on #1289
@hebbet I will remove this from the 1.6.0 milestone, just ping me when you have the time to start on this! Then we plan this into a new milestone!

[2016-01-08 10:37] VFedyk commented on #1154
+1

[2016-01-09 21:56] mcalello commented on #1707
+1
I totally agree, and thought it was a bug.

[2016-01-09 22:12] rbennett71593 commented on #1707
Another +1 from me.

[2016-01-09 23:47] Kryptonit3 opened #1749 "Unable to select January 2016 when restricting future months"
I am using "month" view. I am unable to select January 2016 with the following settings even though today is 1/9/2016

[code]

I also tried `'+0m'` to no avail. `Jan` stays disabled. Also tried `endDate: new Date(),` `Jan` still not selectable.

Closest selectable month is Dec 2015

![img](http://snag.gy/m5lYi.jpg)

[2016-01-09 23:54] Kryptonit3 commented on #1749
It works if I do `+2m`.

[2016-01-10 00:03] mcalello opened #1750 "Change StartView?"
(First let me say kudos on how thorough this project is documented and demonstrated!)

Is there a way to modify the StartView once the datepicker is initialized?  I'm wanting to start with the decade view (2) for when no value is present, but then switch to month view (0) once a date has been provided.

Thanks!

[2016-01-10 05:22] raefa commented on #1584
Not a solution but a workaround:

[2016-01-10 05:27] raefa commented on #1584
This is not a solution ... rather a work around. Calculate the height of the menu at the top and add it to the datepicker on "show".

    $(".date input").datepicker().on("show", function(e) {
    var top = $("#organization-header").height() + parseInt($(".datepicker").css("top"));
      $(".datepicker").css("top", top);
    });

[2016-01-11 04:42] dzung1nguyen commented on #1632
@Azaret  Thank man.

[2016-01-11 07:17] #1632 closed

[2016-01-11 09:33] DonDavio commented on #1609
The behaviour of showOnFocus="false" seems to be inconsistent between using the data-date-show-on-focus attribute, and setting $.fn.datepicker.defaults.showOnFocus in JS. If set using the attribute, the calendar is still displayed the first time the input receives focus.

https://jsfiddle.net/DonDavio/kke1jbbj/8/

[2016-01-11 09:40] acrobat commented on #1749
What is the version of the datepicker you are using @Kryptonit3? Seems to work in 1.5.0 for me

[2016-01-11 23:10] igoptx opened #1751 "Update datepicker options"
There is some way to change the options of one datepicker by javascript ?
Options like "datesDisabled" and "beforeShowDay".

[2016-01-12 07:19] acrobat commented on #1751
Can you explain what you mean with "change the options of the datepicker"

[2016-01-12 08:09] igoptx commented on #1751
Example:

$('#dp1').datepicker({
            format: "yyyy-mm-dd",
            calendarWeeks: true,
            datesDisabled: disable_on_dp1,
            daysOfWeekDisabled: ["0", "6"],
            maxViewMode: 0,
            multidate: true,
            startDate: "2016-01-01",
            endDate: "2016-01-31",
            weekStart: 1,
            beforeShowDay: function(date){

[2016-01-12 13:32] Fuzzyma opened #1752 "bootstrap-datepicker vs MooTools"
I know - why on earth would someone use Mootools and jQuery on one side?
I dont want - but my CMS (contao) has Mootools deeply anchored in its Backend.
When I want to use the datepicker there, It comes to wired behavior:

- the popup is placed at the very bottom of the side
- when you close the popup (by clicking somewhere), the popup hides but the textfield ALSO disappears!!

Thats very unpleasen

[2016-01-13 14:32] etechpulse commented on #600
Go through the working cross browser bootstrap datepicker example in asp.net web applications. Refer to http://www.etechpulse.com/2015/11/bootstrap-datepicker-calendar-example.html

[2016-01-14 06:22] xhkz commented on #1724
I guess the doc might need to be updated. The following code should work.

[code]

[2016-01-14 17:08] alvarotrigo commented on #1109
That's another plugin...

[2016-01-14 19:03] rain01 opened #1753 "[feature request] predefined shortcuts"
Hi! It would be great to get ability to add predefined shortcuts to date range picker please.
Same past and previous like this one. Example [here](https://camo.githubusercontent.com/f0676d51ef792641b03893c21029ca28fbfcaf47/68747470733a2f2f7261772e6769746875622e636f6d2f6c6f6e6762696c6c2f6a71756572792d646174652d72616e67652d7069636b65722f6d61737465722f707265766965772e6a7067)...
Thank you!

[2016-01-15 07:41] benxiaohai1212 opened #1754 "How to remove the last selected"
How to remove the last selected?

[2016-01-15 13:04] KelvinPrimo opened #1755 "How to open a modal div when click a day"
I'm trying to create a calendar with advents with cakephp.
when click a day open a specific modal related of this day.
can someone help me?
sorry for the bad ing.

[2016-01-15 18:38] ducman commented on #1662
+1 on this. I'm using the bootstrap sticky header and started seeing this with v1.5.0.

[2016-01-17 10:15] acrobat commented on #1746
@jeremyschultz @tclindner I've just release v1.6.0-alpha please test this release and report any issues! Then we should have a stable release (if no major issues) by the end of the month!

[2016-01-17 18:39] slookabill opened #1757 "Highlight holidays"
Is there a way to add highlights selected holidays throughout the selection?

[2016-01-18 07:37] acrobat commented on #1757
Please read the docs before opening issues!

But there are a few way to highlight days. You have the [daysofweekhighlighted option](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#daysofweekhighlighted) to highlight fixed days. Or [beforeshowday option/callback](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#beforeshowday) to add custom logic to highlight/d

[2016-01-18 07:38] #1757 closed

[2016-01-18 13:20] adithyan commented on #1695
After moving to latest 1.5.* the above issue is fixed

[2016-01-18 13:20] #1695 closed

[2016-01-18 13:42] acrobat commented on #1721
Closing this issue. Fixed in #1732 and will be released in 1.6.0

[2016-01-18 13:42] #1721 closed

[2016-01-18 13:43] acrobat commented on #1718
Closing this issue for now as it should be fixed in #1722. If this is still an issue on the current master please comment/reopen!

[2016-01-18 13:43] #1718 closed

[2016-01-18 16:51] Gibbs commented on #1751
You should be able to do something like:

[code]

Is that what you mean?

[2016-01-18 17:04] igoptx commented on #1751
I try to do that but the disable dates don't update on datepicker.
I solved the problem by remove the datepicker and initializate again =\

[2016-01-18 17:37] HexDT commented on #983
This would be very helpful !... wish I could help...

[2016-01-19 04:01] LuciferZhang opened #1758 "How to migrate to angularjs?"
How to migrate to angularjs?
Anyone else uses the angular-js directive?

[2016-01-19 06:27] LuciferZhang commented on #759
@sonoman what angular-datepicker did you select? could you please give me some suggestion?

[2016-01-19 08:03] LuciferZhang opened #1759 "How can I set backgroud for day?"
Now I want to send a date-array to datepicker, eg:[new Date(2016,1,18,'colorClass'), new Date(2016,1,19,'colorClass')]  , and how to set these days backgroud style? look like this.
![image](https://cloud.githubusercontent.com/assets/10653933/12412952/200f7030-bec6-11e5-8b2d-03ff688851e4.png)

tips: colorClass is classname of what I have defined.

[2016-01-19 08:08] acrobat commented on #1759
You can use the [beforeshowday option](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#beforeshowday) to get the extra class applied!

[2016-01-19 08:08] #1759 closed

[2016-01-19 09:31] euskadi31 opened #1760 "Day activate not working with inline datepicker."
Hi,

Thanks for Datepicker ;) I found a bug with inline datepicker, the selected day do not contain "active" class.

See this snippet : https://jsfiddle.net/250fzg0h/

Have you already heard of this issue, if yes when could you fix it ?

Thx

[2016-01-19 09:54] MrGeneric commented on #1760
I can see the active class on the selected day in the inline picker. Checked on latest Chrome and Firefox.

[2016-01-19 10:00] LuciferZhang commented on #1759
beforeShowDay: function (date) {
                    scope.schedules.forEach(function (day) {
                        if(date.getFullYear() == day.getFullYear() && date.getMonth() == day.getMonth() && date.getDate() == day.getDate()){
                            return 'green';
                        }
                    });
                }

it  doesn't work!

[2016-01-19 10:10] euskadi31 commented on #1760
I tested with :
* Chrome 48.0.2564.71
* Safari 9.0.2 (11601.3.9)
* Opera 34.0.2036.47
* Firefox 43.0.4

I still have the problem.

![bug](https://dl.dropboxusercontent.com/u/13604448/datepicker-bug.png)

[2016-01-19 13:23] lindem commented on #1611
from the code it looks like the defaultViewDate cannot be set as a data attribute. The region in question is (line 297 onwards, in a debugger):
[code]

if you put an object literal (like, JSON, which is already questionable to put into attributes) into the attribute, this region sees a string. A string has no `year`, `month` or `day` fields, hence it gets the defaults. If you put the subfields lik

[2016-01-19 13:54] MrGeneric commented on #1760
Sorry, I can confirm I have the same problem. I thought you meant the "active" class wasn't applied when selected by the user.

[2016-01-19 19:27] EvanCarroll opened #1761 "Make conform to new UMD specification."
The new UMD specification can be found [here](https://github.com/umdjs/umd/blob/master/templates/jqueryPlugin.js),

This would change the require code to be required like this in CommonJS

    require('bootstrap-datepicker')();

but, it'll add the ability to make rendering work in PhantomJS,

    require('bootstrap-datepicker')(document.window);

And, it would add the ability to share an instance

[2016-01-19 19:31] acrobat commented on #1761
A pr would be great! It could also be included in 1.6 release planned for the end of the month!

But is it backwards compatible with the current implementation?

[2016-01-19 19:40] EvanCarroll commented on #1761
Nope, there is no way to make it backwards compat. The old method of UMD did something very, very nasty and should have never been the standard. For Common.js, it included a new version of jQuery for every plugin that used require("module"). Well, that's majorly problematic because every plugin with jQuery is supposed to play well with every other plugin. So it just adds file size and a redundant

[2016-01-19 19:50] EvanCarroll commented on #1761
Then again, I don't see you documenting CommonJS inclusion anywhere on this module, but undoubtedly someone is using it somewhere under Browserify or some other CommonJS build system.

[2016-01-19 19:51] EvanCarroll commented on #1761
#1762

[2016-01-20 07:24] acrobat commented on #1761
Hmm I was hoping that we could achieve BC in some way! I will take a look at the patch otherwise this has to wait until 2.0.

[2016-01-20 07:53] EvanCarroll commented on #1761
I'm going to put my own branch into production then. Please take a look at cherry picking the other changes out (which fix some issues I had with jslint/jscs) for your 1.6x release. And, also perhaps you should fork off a 2.x branch so this PR doesn't get lost?

[2016-01-20 07:59] acrobat commented on #1761
I've added the milestone! But I will take a look at the patch in detail one of the days as we can't break BC in 1.x releases but I understand this changes should be adapted soon!

[2016-01-20 08:08] EvanCarroll commented on #1761
One other question about the packaging of bootstrap-datepicker. The root package.json in the repository points to `dist/`. This is actually a pretty bad practice (imho) for this reason here. I want to fork this module and run the fork in production. However, in order to that I have to regenerate dist. That's not a problem, but you probably don't every PR to have a new copy of dist because that gua

[2016-01-20 08:10] acrobat commented on #1761
Hmm don't know about that issue! Can you put this issue/description in a seperate issue? I will take a look at it and try to fix it!

[2016-01-20 19:29] critesjm commented on #1597
+1 -- basically you can enter anything you want as long as it isn't a leading integer.

[2016-01-21 13:26] canfiax opened #1763 "How do I pull in this library + time picker?"
I am currently pulling in this library in my bower.json, that supports time picking as well:

    "bootstrap-datepicker": "git@github.com:rchavik/bootstrap-datepicker.git#5d82d35f54c25b8cebda0c0f7493a39a80f1c4e8",

How can I pull in the latest 1.6 alpha AND have the timepicker?

[2016-01-21 13:29] canfiax opened #1764 "Disable past dates"
How can I tell datetimepicker to disable days in the past? I.e. using the picker for a datefield that can only be in the future.

[2016-01-21 13:32] acrobat commented on #1763
That's a fork of this repository so the owner of the fork should update his fork with the original codebase! You should contact @rchavik about it!

[2016-01-21 13:32] #1763 closed

[2016-01-21 13:34] acrobat commented on #1764
Using the option [`startDate`](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#id6) will disable all dates in the past. See [example](http://jsfiddle.net/zcvq0yhh/21/)

[2016-01-21 13:34] #1764 closed

[2016-01-21 14:07] canfiax commented on #1763
@rchavik would that be doable? :)

[2016-01-21 14:17] riccardobevilacqua opened #1765 "Year range beyond endDate"
Scenario: birthday datepicker preventing younger users to submit a form.

Setup:
- Plugin v1.5.0-dev
- endDate: N years ago (e.g. preventing birthday under 13 years old or under 18 years old)

Issue:
- Open datepicker, year range is currently correct and you can navigate to the following decade
- Select a year, you can now choose a month
- Instead of choosing a month, go back to year selection
- Y

[2016-01-22 01:37] rchavik commented on #1763
@canfiax sorry, i'm unable to do this due to time constraints.

maybe you can help rebasing #909 on top of latest master?

[2016-01-22 07:10] acrobat commented on #1763
Yes timepicking is something we have planned for 2.0/2.x but before we integrate that feature we want to rewrite some inner works so we can handle dates and datetimes better!

[2016-01-22 15:29] s0By opened #1767 "1.6 alpha setDates Issue"
When calendar is loading I find the workday and weekdays using beforeShowDay:

beforeShowDay: function(date) {
            if(date.getDay() != 6 && date.getDay() != 0){
                weekdays.push((date.getMonth()+1) + '/' + date.getDate() + '/' + date.getFullYear());
            }else {
                weekends.push((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());

[2016-01-22 15:44] SpringsTea commented on #1726
So over a month later I still have no solution to this. I see now the issue stems from the 'startDate' option.
Removing this option fixes the issue. Outside of this issue startDate works as intended when using the picker, theres no error when using it.
If I don't set startDate on setup and then add it programatically with 'setStartDate' I won't be able to set the date again.

Theres no way this is

[2016-01-22 15:56] s0By commented on #1767
If I setDates without clearDates or update for the first time, array of dates gets filled one time and the click even works nicely. If I change an option through my select box, array get's overwritten, but not from scratch, it creates duplicates of the dates so I get 2-3 instances of the same date depending of how I try to clear them. Trying to find a workaround.

[2016-01-24 09:00] serhanaltug opened #1768 "Calendar Week Rule"
Hi,

Please add calendar week rule for supporting ISO 8601

CalendarWeekRule.FirstDay
CalendarWeekRule.FirstFourDayWeek
CalendarWeekRule.FirstFullWeek

[2016-01-24 10:01] s0By commented on #1767
I think I have an idea why this happens. beforeShowDay is being launched every time when something changes in my calendar so that's why later on duplicates are being pushed. It's like this calendar is missing an on.('load) event. Would be perfect to calculate stuff when it's loading and never touch that until the next load.

Anyways, waiting for some help from you guys.

[2016-01-24 11:11] acrobat commented on #1767
@s0By can you test this code with 1.5.1 and see if this is a regression in 1.6 or if it's something that was broken all the time?

[2016-01-25 05:48] phillip-kruger opened #1769 "Prev month not working"
Hi.
First of all, thanks for the great datepicker.

I have once issue where the prev month goes to the next month.

Here my conf

$('#datepicker_lg').datepicker({
        format: 'yyyymmdd',
        startDate: "today",
        endDate: "+7d",
        weekStart:1
    });

So I only allow selection for the next 7 days. At the end of the month the next month become available and the arrow next to the

[2016-01-25 05:49] phillip-kruger commented on #1769
B.t.w I have tested this in 1.5.1 and the latest 1.6.0 alpha

[2016-01-25 07:31] acrobat commented on #1769
@phillip-kruger can you provide a jsfiddle that has the problem? As I can't seem to reproduce this issue here http://jsfiddle.net/zcvq0yhh/22/

Thanks!

[2016-01-25 07:55] phillip-kruger commented on #1769
OK I see now it's working with the latest alpha. I must have tested the
wrong one. I get it in a prev version. But I'll just upgrade ! Thanks !!

On Mon, Jan 25, 2016 at 9:31 AM, Jeroen Thora <notifications@github.com>
wrote:

[2016-01-25 07:56] acrobat commented on #1769
Ah great! Should have worked in the alpha as we had a specific fix for that issue! Stable should be out by the end of the month (or around the end)

[2016-01-25 07:56] #1769 closed

[2016-01-25 08:11] phillip-kruger commented on #1769
Thanks !!

On Mon, Jan 25, 2016 at 9:57 AM, Jeroen Thora <notifications@github.com>
wrote:

[2016-01-25 09:43] gorillapower commented on #951
@lphooge Thank you! Just what I was looking for.

[2016-01-26 03:39] LarryBattle commented on #519
Datepicker component for Ember CLI
https://github.com/soulim/ember-cli-bootstrap-datepicker

Problem solved?

[2016-01-26 15:13] gpiancastelli opened #1771 "Datepicker returns inverted date when called on a child element"
It's really disheartening to see more than 350 open issues and almost 60 pull requests waiting in line for some kind of review... I mean, that really makes the effort to report a bug questionable... but here it is anyway.

So this is what happens: I have a fairly standard control for the date picker.

	<div id="some-unique-identifier" class="input-group date">
	    <input type="text" class="form-c

[2016-01-26 18:38] acrobat commented on #1771
First of all this project is run by people who have a day job and spend their free time maintaining the project. We do our very best to get the issue/pr count down and have new features and bugfixes. I know there is still a large backlog but we have achieve great progress in the last 1.5 year as the project stalled before extra collaborators were added. So every issue reported is imported so we ca

[2016-01-26 19:44] acrobat commented on #1486
Closing this issue as the docs were added! Thanks for reporting!

http://bootstrap-datepicker.readthedocs.org/en/v1.5.1/methods.html#cleardates

[2016-01-26 19:44] #1486 closed

[2016-01-26 20:18] acrobat commented on #1391
Possible fix for this issue: https://learn.jquery.com/plugins/advanced-plugin-concepts/

[2016-01-26 20:28] acrobat commented on #1162
Like @Henri-K suggested the `beforeShowDay` option is the way to achieve this. I've created a small example to display the option! http://jsfiddle.net/zcvq0yhh/24/

[2016-01-26 20:28] #1162 closed

[2016-01-26 22:51] iceoz opened #1772 "Range startdate bug"
Hello, i found a bug when you set the enddate year using backspace, when the enddate year is changed to 201 startdate year is changed to 201 too, but when it is seted to 2015 or other normal year the startdate don't respond any more.

I do a fast fix because the client found this bug, just added a validation (new_date year > 999) before call setutcdate() inside daterangepicker.prototype.dateupdate

[2016-01-27 05:34] domino14 commented on #1484
+1 does anyone know how to shim the locales? I can't get them to work at all.

[2016-01-27 06:01] laxman4434 opened #1773 "Disable selection and selection of dates when using multidate option."
Hi,
I have a situation where i need to set some dates  on page load (using inline datepicker). I achieved this through "multidate=true" option.

I have tried the 'toggleActive' option, but the docs show that it is always true for multidate option
https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#toggleactive

But, now,  I don't want the user to select any other dates or deselect

[2016-01-27 06:07] domino14 commented on #1484
if anyone is wondering, I just wrapped an existing locale file with:

[code]
And `datepicker` is just the path to the `bootstrap-datepicker` module.

[2016-01-27 15:43] trs79 opened #1774 "Large value for year causes browser to hang"
If I enter a large value like 11/01/275760 for the date, the entire page freezes up, appears to be the same as issue #512. I'm using version 1.5.0 on Chrome  47.0.2526.106

[2016-01-27 16:07] LeanneW opened #1775 "Updating date picker causes loss of format"
I am currently using the date picker with the en-GB locale and its working perfectly until I have to call either update or setDate. The date sets fine however the date picker suddenly reverts from dd/mm/yyyy format to mm/dd/yyyy format. It's as if calling either method is reverting the date picker back to default settings.

If you require further information please let me know. I'm using  v1.5.1.

[2016-01-27 19:40] gpiancastelli commented on #1771
[Be my guest](https://jsfiddle.net/s0vLuh0s/1/).

[2016-01-27 21:49] oscarmorrison opened #1776 "defaultViewDate not showing startDate"
I have two date pickers set up. To select a depart date and a return date.

Once the depart date has been selected by the user, this should update the return date's
start date (e.g minimum date they can pick).

This works correctly as far as no dates before this are selectable, but the defaultViewDate
(e.g date the calendar is opened on, is fixed to the previous startDate)

[2016-01-28 18:06] xedemx commented on #500
@acrobat

Maybe the problem is how the markup is being set up? updated [your jsfiddle here](http://jsfiddle.net/vh1oknf7/118/) in a lame way (I am new to this), but the first example uses data-provide on the div, while the second is with an id on the input.

[2016-01-30 14:42] sylbal commented on #1454
+1, any plan for merging this PR ?

[2016-02-01 12:01] magicdawn opened #1778 "update sucks"
see https://jsfiddle.net/magicdawn/bp2g6m2e/2/
for format like `yyyymm` like `201508`. I tried

1. use moment#format YYYYMM generate 201508, and call update, it's not working
2. use moment#format YYYY-MM-DD generate 2015-08-01, just like this document(http://bootstrap-datepicker.readthedocs.org/en/stable/methods.html#update) shows, and it's not working too.

update sucks.

[2016-02-01 12:06] magicdawn commented on #1778
Actually `DPGlobal.parseDate('201509', 'yyyymm');` is not working as expect...

[2016-02-01 12:06] acrobat commented on #1778
This library has not yet support to handle momentJs date objects passed to it. But you can fix that by using the `toDate()` method on the momentJs object.

I've updated your example https://jsfiddle.net/bp2g6m2e/3/, please let me know if this fixes you issue!

[2016-02-01 12:11] magicdawn commented on #1778
@acrobat

I'm not passing moment.js instance, I'm passing the result of moment#format, see the first & second line https://jsfiddle.net/magicdawn/bp2g6m2e/2/

The problem is that "update in not working". that 201508 as the datepicker `yyyymm` format not working & the `2015-08-01` format in the document is not working too. please read more carefully.

[2016-02-01 15:23] rknetwork opened #1779 "startDate is ignored when enter key pressed"
One of my users was able to get around startDate option (not intentionally).

Normally when startDate option is set, users shouldn't be able to set the date earlier than startDate.

Unfortunately there is an exception to that, here are the steps:

autoclose option must be set to true.
Focus on the input field.
Hit Enter key.
Type in any date you like.
As you can see the startDate is ignored and yo

[2016-02-01 19:18] acrobat commented on #1746
@jeremyschultz @tclindner 1.6.0 was just released! Check [the release](https://github.com/eternicode/bootstrap-datepicker/releases/tag/v1.6.0) page for the changelog!

[2016-02-01 19:18] #1746 closed

[2016-02-01 19:18] #1442 closed

[2016-02-01 23:21] tclindner commented on #1746
Awesome, nice work! Thank you, @acrobat

[2016-02-03 15:09] spenat28 commented on #1260
I would also like this. Now it's not possible to have different bg for header for example. You can leave visibility there,we can override it with visibility: visible !important;   ... but it also caouses, that You are able to click throw disabled months in calendar ...

[2016-02-03 16:46] xmon commented on #1310
$('body').on('focus', ".datepicker", function() {
  $(this).datepicker({
            language: 'es',
            weekStart: 1
        });
});

[2016-02-04 22:26] musapha opened #1780 "Support Jalali Calander & persian Numbering"
Dear all , first i would like to ask for the Great job you have done and appreciate your contribution .
as the bootstrap-picketer is way professional and easy to use , if you could help me with Jalali calendar  (Persian calendar ) which is the default calendar for Persians , Kazakhstan , Tajikistan , and Afghanistan   and all Farsi speaking people . i would like you to help me with a way to change

[2016-02-04 22:35] musapha commented on #1780
Since this datepicker is so commonly use in may open source software , this is also a great boot for many people all over the world .

[2016-02-05 04:44] johnmanko opened #1781 "datepicker is not a function when using with SystemJS (via jspm) and Aurelia + jQuery"
To following with a  `datepicker is not a function`

` $('.input-daterange').datepicker({maxViewMode: 1,todayBtn: true, clearBtn: true, autoclose: true, format: "yyyy-mm-dd"});`

Aurelia requires that jQuery be install alongside it.  I found a [stackoverflow post](https://stackoverflow.com/questions/33522466/how-to-implement-bootstrap-datepicker-as-aurelia-custom-element/33533879#33533879) that sa

[2016-02-06 08:20] #1683 closed

[2016-02-07 19:47] toscan commented on #1574
Is the latest version working with bootstrap4?

[2016-02-07 19:55] acrobat commented on #1574
Looks like the styling is ok with v4-alpha2 http://jsfiddle.net/zcvq0yhh/31/. But this is a bit of an issue with the font-size it seems. But that something that you could fix in your code when using the datepicker with twbs4 alpha (2)

Official support in the datepicker should come when bootstrap v4 is stable

[2016-02-07 20:36] hebbet commented on #1574
i follow the development of BS v4 on github. there are lots of changes in the current alpha and i don't think it using BSv4 alpha for any project yet.

they are also discussing various changes at the moment, some of them might be "breaking changes" to the current alpha.

[2016-02-07 20:42] #1642 closed

[2016-02-07 21:09] toscan commented on #1574
Ok! Thanks a lot

[2016-02-08 09:57] andreifloricel commented on #1662
+1 on this. I'm experiencing the same problem, but regarding the horizontal positioning. I'm using v1.5.1.

![capture](https://cloud.githubusercontent.com/assets/5867129/12882542/0aac6e1a-ce5b-11e5-8e27-200ec12d53a2.JPG)

[2016-02-08 12:06] maximelebreton commented on #787
+1 on HTC One with Android 5.0.2

[2016-02-08 16:05] maximelebreton commented on #787
i dont think that `msMaxTouchPoints` or `ontouchstart` variables are the problem, because i made this workaround based on the same variables and it works.

i've just added a little trick to improve accessibility. (but of course this is not perfect)

[code]

[2016-02-08 16:33] daniyel opened #1782 "Full text search problems"
Hi.

We are experiencing some full text search problems, or maybe we are using it the wrong way.

We have index as

[code]

And we are using filter and query option to search for all records that match the name or partially match the name, meaning they contain substring of the searched string.

We have used `wildcard, contains, prefix,` you name it but the search is weird. We have for example `Ind

[2016-02-08 18:20] acrobat commented on #787
@maximelebreton care to create a PR with a fix?

[2016-02-08 19:43] jzcorrea commented on #1665
I have the same issue too. When i change manually the date, the plugin auto changes the date to the current date. For example:

- The format i'm using is "dd/mm/yyyy";
- The input starts with the current date (08/02/2016);
- Then i manually clear the input value with backspace;
- And digit "1" (because i want to change the date to 12/02/2016);
- When i digit "1", the plugin auto change the value b

[2016-02-09 07:31] acrobat commented on #1782
@daniyel are you sure this issue is related to this library/plugin? As there is no 2.2.4.1 version and don't seems to get the link between a full text search and a datepicker

Can you provide some more info?

[2016-02-09 08:03] acrobat commented on #1665
@jzcorrea what is the version of the datepicker you use? Can you provide a jsfiddle to show the problem?

[2016-02-10 10:43] jzcorrea commented on #1665
@acrobat i'm using the version 1.5.1. Here's my code:

[code]

First, i think that the problem was the endDate, but if i remove it, the problem persists.

[2016-02-10 12:59] flipak180 opened #1784 "Problems with range datepicker and datesDisabled option"
When I'm using range datepicker with disabled dates, I can select range, that includes disabled dates. I think he must reset the start date and set it equals to the end date.

[2016-02-11 04:30] mediavrog commented on #814
+1 for read only datepicker

[2016-02-11 05:52] mediavrog commented on #1260
+1
 totally useful for custom styling of background for example

[2016-02-11 05:53] mediavrog commented on #1032
we experienced the same issue. use `moment` if you can to work around the issue for now e.g. `options.startDate = moment(min).toDate()`

[2016-02-11 06:44] mediavrog opened #1785 "disabled-date class no longer exists for days disabled using `datesDisabled`"
In order to be able to differentiate between dates disabled because they are out of `startDate`/`endDate` and dates disabled using `datesDisabled`, a separate class should be added to the calendar elements.

In version 1.4.1, there used to be a dedicated class `disabled-date` for the latter, which allows for improved styling. In out case, we use start/end date for a project duration, and datesDisa

[2016-02-11 08:28] daniyel commented on #1782
@acrobat i found what was the issue, i think there is somewhere else one ticket with same problem, we set the type "text" instead of "string" now it is working as expected with the search, just did not realize how the text and analyzer work in the first place.

Thank you for your help. I will put the link to the issue, where I found solution.

[2016-02-11 08:30] #1782 closed

[2016-02-11 13:03] santosh-k1 commented on #7
Hi, i have used below code which is how one month before date not current date:
  $('.datepicker').datepicker(
  {
      format: 'dd/mm/yyyy',
      autoclose: true,
      forceParse: false,
      Default: true,
      pickDate: true,
      todayHighlight: true,
      //initialDate: new Date('15/10/2016'),
  }).load('show', function (ev) {
      var today = new Date();
      var currentDate = today

[2016-02-11 13:36] santosh-k1 commented on #7
Hi,
Here is easy use of current date selected value in the textbox

$('#datepicker').datepicker(
today()
);
function today(){
	var d = new Date();
	var curr_date = d.getDate();
	var curr_month = d.getMonth() + 1;
	var curr_year = d.getFullYear();
  var currentDate = curr_date + "-" + curr_month + "-" + curr_year;
  $('#datepicker').val(currentDate);
}

[2016-02-12 10:00] michael-x opened #1787 "z-index not working on IE11"
Using eternicode bootstrap-datepicker version 1.6.0 / jQuery 2.2.0 on IE 11.

I've got a page with a navbar which is fixed at the top (navbar navbar-fixed-top).

When the datepicker opens up near the top it is displayed underneath (in z-direction) the navbar. This is kind of expected as the navbar has got z-index 1030, the default zIndexOffset of the datepicker is 10 and I don't have any z-index s

[2016-02-12 11:03] michael-x commented on #1778
'update' is not working properly, when assigning a string and

1. the datepicker format does not match (obviously) or
2. the format does not contain any separators (e.g. 'yyyymm' instead of 'yyyy-mm').

@magicdawn using toDate() instead of format(...) makes your code independent of what datepicker format has been chosen and therefore more reliable. (There was a minor problem with the variable not

[2016-02-12 13:05] wapolinar opened #1788 "$.fn.datepicker is undefined with version 1.6.0 (npm, webpack)"
I'm using boostrap-datepicker with npm and webpack to create a web application.
After a recent update (with "npm update"), a new version (1.6.0) of boostrap-datepicker got installed.

Using this version, $.fn.datepicker is undefined (and datepicker itself is not loaded). When going back to version 1.5.1, datepicker works as expected.

Did something with the initialization of datepicker change from

[2016-02-14 19:18] hebbet commented on #1788
can you provide an example?

can't reproduce.

[2016-02-14 19:18] hebbet commented on #1787
can you test if it works with 1.5.1?

[2016-02-15 00:02] Shaazaam commented on #978
+1 on this issue. A simple workaround is using `shown.bs.modal` instead, as others have stated. It shouldn't be too big a deal for most people. If you have to resort to stopping propagation, you're doing something wrong.

For the sake of seeing how long this has been an issue, I'd like to see some investigation on the matter.

[2016-02-15 03:16] magicdawn commented on #1778
@michael-x

so what's the correct way to use update(string) & format like yyyymm. Or just always pass the raw date object to update?

[2016-02-15 03:35] magicdawn commented on #1778
And another point:

when I specify a date format like `yyyymmdd` for display, and I use a native Date object for updating. Then what should the  `endDate` be passed?

Pass a Date object to endDate looks lile OK, but the use the endDate to update fails
https://jsfiddle.net/bp2g6m2e/8/

[2016-02-15 07:23] #1785 closed

[2016-02-15 07:37] michael-x commented on #1787
I've compared the two script files and noticed that the place function, responsible for calculating the z-index, hasn't changed between 1.5.1 and 1.6.0.

I've also had a look at the [demo page](http://eternicode.github.io/bootstrap-datepicker/) which seems to be using version 1.5.0. It is also using a navbar which is fixed to the top. When you resize your IE to reduce the height to about the heigh

[2016-02-15 07:59] michael-x commented on #1778
@magicdawn I'm not sure whether there is a 'correct' way, but using a date object instead of a string to me looks a lot like the better way.

Unfortunately I think there is a bug with the end date: If you set `endDate` to today and `update` the date to yesterday it works (https://jsfiddle.net/bp2g6m2e/9/), but if you set both to the same date it doesn't.
This seems to be similar to what has been r

[2016-02-15 08:02] magicdawn commented on #1778
@michael-x Gocha

[2016-02-15 13:14] enigmatix opened #1789 "Bower ignore not being used?"
Hi, I'm new to bower and wanted to install this package for use in my project via composer and the composer fxp plugin.

I would have thought that everything except build and distro code would have been ignored by the bower.json.  Is this an incorrect assumption (ie, there is another use I am not aware of) or would you accept a pull request with a more detailed ignore file?

[2016-02-15 14:07] Myrdivar opened #1790 "Strange behaviour in the changeDate event"
Hi,

I'm experiencing a strange behaviour in the changeDate event:
`$(element).datepicker().on('changeDate', function(e) {
				$timeout(function() {
					scope.$apply(function() {
						if (scope.form) {
							scope.form.$setDirty();
						}
						scope.model = (e.date ? e.date.getTime() : null);
					});
					if(scope.change()) {
						scope.change();
					}
				});
			});`

If I start selecting

[2016-02-15 16:39] mathiasconradt commented on #1662
I am experiencing the same when using the datepicker in a [Unify Bootstrap3](htmlstream.com/preview/unify-v1.8/index.html) template. The problem only occurs when the layout is set to "boxed-layout".

In my case:
<body class="boxed-layout container header-fixed header-fixed-space">

If the layout takes the whole browser width, the datepicker works fine. In css, it seems that the width attributes ar

[2016-02-16 12:34] krzyko opened #1791 "bootstrap-datepicker on jsdelivr"
Good day,
are there any chances to see bootstrap-datepicker hosted also on www.jsdelivr.com cdn? I'd like to use same cdn network across single project and bootstrap-datepicker missing. Adding a project seems easy and maintaining it is automatic.
Best wishes,
Krzysztof Kosz

[2016-02-16 12:45] acrobat commented on #1791
I don't know if it's necessary to add the libary to another cdn. The library is currently available on [cdnjs](https://cdnjs.com/libraries/bootstrap-datepicker). So maybe this is fix/answer for you question?

[2016-02-16 13:04] krzyko commented on #1791
Loading all the libraries from single CDN should reduce loading time (saving DNS lookups). I've considered switching to cndjs, but unfortunately due to their internal regulations (issue described here: https://github.com/cdnjs/cdnjs/issues/2984) they don't host "respond-proxy.html" file, which is necessary for respond.js to function properly when used with cdn network. So only solution for now is

[2016-02-16 13:09] acrobat commented on #1791
Ok, I see the usecase! I will look into to this in the next few days/weekend! Will give you an update about this here!

[2016-02-16 13:24] krzyko commented on #1791
It's good to hear this. Thank you for taking care.

[2016-02-16 15:25] EnotPoloskun opened #1792 "Set current date on blur if entered date is not in the available limits."
Hello.

I have datepicker with endDate(10 years in future). And when user manually enters date(in input, not via datepicker) which is more than endDate input field becomes blank after blur. How can I change this behavior? I would like to set current date in that case.(Version 1.3.1 is used)

I've tried 'changeDate' event, but it is not triggered if date is not in the limits.(for example, I have en

[2016-02-16 20:45] syntruth commented on #810
Confirmed; stopPropogation() is the right solution and should be called internally before the datepicker's own 'hide' event handlers are called, imo.

[2016-02-16 22:15] tleunen opened #1793 "Incorrect z-index check"
[At these lines](https://github.com/eternicode/bootstrap-datepicker/blob/master/js/bootstrap-datepicker.js#L709-L710), the second condition doesn't make sense and will always be false.
Here's the specific code:

[code]

`itemZIndex` will always be a string, so you cannot use the strict equals in this case. Or if you want, you have to compare with a string. But what I suggest is parsing the value a

[2016-02-17 11:16] victorantos commented on #764
@dyardyGIT to set the initial value you'd have to modify the binding:

instead of
`if (widget) {
            widget.date = ko.utils.unwrapObservable(valueAccessor());
            widget.setValue();
        }`

put
`if (widget) {
          if (widget) {
            $(element).datepicker("**update**",  ko.utils.unwrapObservable(valueAccessor()));
        }
    }`

[2016-02-17 16:07] MuTLY opened #1794 "Adding custom method to the DatePicker"
What is the correct way to add a new method to the DatePicker without having to fiddle with the original code? I'm trying to enable/disable the DatePicker and I created a function to achieve this:

	window.disableDatepicker = function($el, state) {
		if (typeof $el !== 'undefined' && typeof state !== 'undefined') {

			$el = $(arguments[0]);
			state = (arguments[1] === true || arguments[1] === fa

[2016-02-17 17:41] MartijnR opened #1795 "remove sourceMappingURL form .css and .min.css builds perhaps?"
I think including source maps is useful for developers of bootstrap-datepicker.

However, when using your great library in large projects where your .css file is imported (because the projects don't use less e.g.), it becomes a slight nuisance to ignore/avoid all those failed requests for bootstrap-datepicker.min.css.map.

[2016-02-17 21:22] juliomac commented on #1528
Hi @romadev, have you found a solution to this?

I have the same situation and I wasn't seeing this issue before. Somehow it was "magically" working and the format was kept the same as the original even after the update. However, If more changes are made to first date, however, it eventually breaks and messes up the format of the EndDate (StartDate +1 day).

[2016-02-17 22:44] laxman4434 opened #1796 "Hide keyboard on mobiles (iphone etc) when datepicker is in bootstrap modal dialog"
Hi,

I am using datepicker version 1.5.1 and my textbox is in bootstrap modal dialog.

For some reason even when i am using disableTouchKeyboard :true, I am able to see keyboard on mobiles.

My jquery is as follows:

            $('#overseas_datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                clearBtn: true,
                startDate: ne

[2016-02-18 08:34] sfri opened #1797 "clearing the date does still not reset to defaultViewDate"
Cleared the date and the value is still not propagated. I tried this with 1.5.0 and 1.6.0.

This bug should have been fixed with #1370 but still isnt.

If you need more information please contact me.

[2016-02-18 20:49] FabioReis commented on #1274
I had exactly the same error. I´m also from Brazil, and Saturday is the last day of our daylight time(02/21/2016), so in this case i´m on GMT -03:00 and because of the daylight time our timezone is currently GMT -02:00. I did as you asked and i created a fiddle that shows exactly the code i have. Of course in order for this example to work you need to change your timezone. Thanks!
http://jsfiddle.

[2016-02-19 18:54] kylebcooke commented on #1472
I am having the same problem, when the value field of the input is set correctly with a knockout.js data-bind the calendar does not parse the data correctly and clicking off the calendar clears the date. To avoid this I have disabled forceParse for a workaround until this is resolved.

[2016-02-21 10:28] moinulmithu commented on #7
Solution of santosh-k1 worked nicely for me. Thanks a lot @santosh-k1

[2016-02-21 13:33] santosh-k1 commented on #7
welcome @moinulmithu :+1:

[2016-02-21 20:45] isfak opened #1801 "Set startDate based on another datepicker date selection (without date-range picker)"
Hello all,

I am creating some kind of reservation system for a hotel. I have 2 separate datepickers, one for selecting the arrival date and one for selecting the departure date of the guest.
When the user sets the arrival date via the first datepicker, I would like to set the startDate property of the departure date datepicker to the arrival date, so that the guest cannot select departure date pr

[2016-02-22 10:29] Myrdivar commented on #1790
Any help?

[2016-02-22 12:15] rogercorrea opened #1802 "Autoclose:false, but don't to click in the scrollbar"
Please,
I need what the calendar continue open after one click in the scrollbar to move the screen.
Today the calendar is closed and I cannot keep it open even using Autoclose:false.

Thanks!

[2016-02-22 16:35] romadev commented on #1528
Hi there!

The final version was this without using the date-range-picker. I think it also breaks after several clicks, but I don't think any user will do that. I hope this helps!

JS:
`var nowTemp = new Date();
var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
var tomorrow = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0,

[2016-02-22 19:12] Markkos89 commented on #593
hello.. im having a similar issue but my datepicker's date is changing to today's date when I submit the form... so trought a post/insert I'm saving all the data with today's date and it doesnt have to be this way...

[2016-02-23 16:03] bkdotcom commented on #1604
Along these same lines, I would like to be able to have a `clearBtn` on the end date but not on the start date.

It seems that input-daterange ignores `data-` attributes on both the .input-daterange container and on the individual inputs

[2016-02-23 16:49] arvenil commented on #1532
I just wasted way more than 15 minutes trying to figure out why some network error was not catch by `err.(net.Error)` even though docs stated it should. Turned out `url.Error` implements `net.Error` since go 1.6: https://github.com/golang/go/issues/12866

source: https://tip.golang.org/doc/go1.6

[2016-02-23 19:16] krogis01 opened #1803 "Able to Manually Type Disabled Dates"
I am consuming the bootstrap datepicker and found that users are still able to manually type in disabled dates. I found that this is also possible on your demo example.  I imagine that the ability to select dates (whether through the datepicker or input) should be able to be disabled?

http://eternicode.github.io/bootstrap-datepicker/?markup=component&format=&weekStart=&startDate=&endDate=&startVi

[2016-02-24 07:57] mmorand commented on #1154
+1

[2016-02-24 08:00] #874 closed

[2016-02-24 15:50] gr2m commented on #1747
can you release 1.6.1.? As you already have a CI setup, you can also automate releases with [semantic-release](https://github.com/semantic-release/semantic-release). It’s amazing, you’ll never look back again, trust me :) Happy to help if you have any questions

[2016-02-25 02:50] guoxiangwen opened #1805 "How to chose weekly to weekly in oneyear"
How to chose weekly to weekly in oneyear. i want to choose which week in one year,how can i do?

[2016-02-25 06:55] donnykurnia commented on #1639
Any workaround for this 'bug'?

[2016-02-25 07:18] acrobat commented on #1747
I will try to make some time this weekend to check if there are any ready to merge PR's and have the 1.6.1 release tagged

[2016-02-25 08:14] mesuttalebi commented on #1639
Actually for workaround this issue, I changed my bootstrap event from 'show.bs.modal' to 'shown.bs.modal', I know this is not a solve for this problem, but for now I'm waking for boostrap-datepicker to solve it.

[2016-02-25 09:20] mynamespace commented on #1775
Same for me: not only it reverts to default format, but it changes locale to default too.

[2016-02-25 11:04] NaWer commented on #615
https://jsfiddle.net/au4rz67s/4/

Something like this ?

[2016-02-25 16:41] evpaassen commented on #615
@NaWer There's a problem in your example when you click on the week already selected. I fixed it here: https://jsfiddle.net/k9h9hmry/4/

[2016-02-26 08:08] NaWer commented on #615
@evpaassen Thanks, I didn't see it ;)
Strange bug... don't understand it...

[2016-02-26 16:52] emrass commented on #1648
I'm afraid this issue does still exist - just checked it with both 1.5.1 and 1.6.0.
Potential duplicate: #1803

[2016-02-27 16:00] allin81 opened #1808 "How to disable past date on datepicker of boostrap 3?"
Hi all,
this is my first ask there.

I'm using boostrap 3 and i have to disable the past date of the datepicker

This is my actual code

`<script type="text/javascript">
$(function () {
$('#form_datetime').datetimepicker({
                format: 'DD/MM/YYYY',
            });
});
</script>`

i tryed with minDate +1 but not work
How i can make?

Thank you

[2016-02-27 16:14] hebbet commented on #1808
you are not using that plugin, you are using datetimepicker.

closing that issue.

[2016-02-27 19:16] allin81 commented on #1808
sorry, datepicker and datetimepicker are 2 different plugin?

[2016-02-27 20:05] hebbet commented on #1808
yes.

[2016-02-27 20:05] #1808 closed

[2016-02-27 20:37] allin81 commented on #1808
ok, so can you link me a file where i can download the script datepicker and i can customize it with some examples?

[2016-02-28 15:51] jonyt opened #1809 "Don't use `type-"date"` for the HTML element"
Otherwise it'll fail in Chrome with `The specified value "24/02/2016" does not conform to the required format, "yyyy-MM-dd".`. Always use `type="text"`.

[2016-02-29 09:22] ahrensmichael opened #1810 "Datepicker Component toggle (show/hide) Datepicker"
Hi,
How can I use the Datepicker as a component so that the picker is shown when i click the calender icon and on second click on the calendar icon hidden again?

Regards,
Michael

[2016-02-29 10:15] soulghard opened #1811 "Event trigger on next button ?"
Hello everyone,

I'm reading the documentation and I don't see any event triggered when the user click on next or prev button when he's on the month view.

I would like to catch the start date and the end date of the month view when the user click on next or prev to calculate available days in current month. Currently I'm calculating it at initialization for the next 18 month and it's not very eff

[2016-02-29 11:56] acrobat commented on #1795
@vsn4ik any idea how to solve this or do you have experienced this problem yourself?

[2016-02-29 11:58] acrobat commented on #1793
@tleunen Can you provide a PR for this check? We can discuss the fix in the PR!

[2016-02-29 14:34] claytoncarmo opened #1813 "beforeShowMonth not working"
The function beforeShowMonth is not working properly. The event is fired, but the returning values are useless. Here is a fiddle showing the problem:

http://jsfiddle.net/mvrs31sy/1/

[2016-02-29 15:06] claytoncarmo commented on #1813
Sorry, I was not using the last release. It is actually working.

[2016-02-29 15:06] #1813 closed

[2016-02-29 15:38] vsn4ik commented on #1795
Uncheck this in chrome dev tools settings.
![q6mtd](https://cloud.githubusercontent.com/assets/3757319/13399202/20bfd002-df13-11e5-8b44-d1d3c2fc49e8.png)

I think if the project is large, you can easily add task for compilation bootstrap-datepicker without source maps.

[2016-02-29 16:57] MartijnR commented on #1795
Ok, so we disagree about the need to add those references to the compiled css. I think they don't belong there.

(I don't want to add a less build system just for this reason of course).

[2016-02-29 17:38] victorleal commented on #1758
I'm using it with Angular. I've made a directive and I "bind" the datepicker in the `link` function.

It was working perfectly! But now I'm having a problem when I "bind" the datepicker: it is triggering a `change` event. This has been a annoying problem and I'm gonna open an issue here related to it.

[2016-02-29 17:47] victorleal opened #1814 "Use with Angular triggering change event"
I'm using this in an Angular directive called "datepicker". It works perfectly in a lot of places of the application, except one.

I have to load the date, received through Ajax, and show it. In a first moment the datepicker field was not showing the date, so I changed the Angular `link` function to set date on datepicker (using the function `setDate`). Ok, now we see the date! But there's a much

[2016-02-29 22:28] nelson6e65 commented on #1548
Thanks for the explanation.

[2016-03-01 07:19] acrobat commented on #1548
Currently this is the setup but that will change in 2.0 (we can't change it now as it would break backwards compatibility)

We have [a section in the docs](https://bootstrap-datepicker.readthedocs.org/en/latest/#stylesheets) about the different stylesheets!

[2016-03-01 11:14] xhnmdl365 opened #1815 "date-range problems"
Hello,
How can I initialize the range-date,when I have two given dates

[2016-03-01 19:23] robjens opened #1816 "Orientation wrong"
This is with orientation bottom, top does the same but the other way around so it is never pointed towards the element.

![image](https://cloud.githubusercontent.com/assets/11848802/13438894/e826d396-dfe2-11e5-9248-154f25d262b7.png)

Not sure if this ticket will do anything, as there are `+300` other ones in line. Also this seems to be limited to modal usage (of course), scanning a LOT of issues a

[2016-03-01 20:07] robjens commented on #1816
Well, since changing orientation messes up the position, I used Chrome Dev tools and noticed the CSS was working fine, it just had a issue with switching position around as soon as I toggle up (to down) and down (to up).

First I thought it might have been the positioning of the modal, moved that around, wasn't it. Nothing funky with the input field it is attached to either (position css, removed

[2016-03-01 20:07] #1816 closed

[2016-03-01 21:18] hebbet commented on #1816
that bug should be fixed in 1.5 or 1.6

[2016-03-03 09:51] r0x0r opened #1817 "Date range picker and manual date entering"
When you enter a date manually with keyboard in a date range picker the value of the other picker gets updated immediately which leads to unintended effects.

E.g. given a range picker with the following dates
15/01/2015 - 17/01/2016

If you edit the year of the end date and delete the last number, it automatically sets the start date to the year of 201, so the date range becomes

15/01/201 - 17/0

[2016-03-03 10:03] yskeat opened #1818 "getStartDate and getEndDate not work for date range"
refer to http://eternicode.github.io/bootstrap-datepicker/
$('#sandbox-container input').datepicker('getDate') will return a selected value in date object.

when change to range, after select both start and end using picker ui,
$('#sandbox-container .input-daterange').datepicker('getStartDate') or $('#sandbox-container .input-daterange').datepicker('getEndDate') just return an object similar to $(

[2016-03-03 17:10] emanuelbaruch commented on #1817
you could prevent this by removing these lines of code:

			else if (dates.length){
				// setting date by typing
				if (String(oldDates) !== String(this.dates))
					this._trigger('changeDate');
			}

[2016-03-03 17:29] ricksmt commented on #1154
+1

[2016-03-04 10:44] kushalseth commented on #50
T
Thanks, It resolved my problem

[2016-03-06 07:29] mizanur-rahman commented on #438
Awesome!!! Thanks Bro!!

`//disabling past date from datepicker`
`var nowDate = new Date();`
`var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);`
`//initializing datepicker`
`$('.datepicker').datepicker({format:'yyyy-mm-dd', startDate: today });`

@saschaglo
Great work :+1:  Thanks again :)

[2016-03-07 16:41] ikirmitz opened #1819 "Month minView in Range mode"
When minView is set to Month the date is set to the first of the month. This works well for single dates but in ranges it would have been preferable to have the end date set to the end of the month (ie 1/1/2016 to 31/3/2016). Is there maybe an option or easy way to enable that?

[2016-03-07 17:37] akhayoon commented on #1233
Does this mean the issue was fixed in 1.5.0?

This is because I'm using 1.6.0 and I'm still getting the event triggered 3 times on the 'change dp.change' event. Please advise if I'm doing something wrong. Thank you

[2016-03-07 17:57] Timidfriendly commented on #1788
I think it has to do with this issue https://github.com/Eonasdan/bootstrap-datetimepicker/issues/576 and the requirement of jquery as a dependency.

[2016-03-07 18:31] spazione commented on #1154
+1

[2016-03-07 19:18] cristian-sima opened #1820 "Bootstrap header overlaps the Datepicker"
Hi mates.

I am using the "navbar-static-top" header. When the datepicker is unde it, it is not visible:

![image](https://cloud.githubusercontent.com/assets/12199042/13580258/1368a07c-e4aa-11e5-8701-e037cdb80e6c.png)

Any idea?

[2016-03-08 09:55] philwig commented on #967
Just keeping this alive as exactly the same problem. When Donald Trump conquers us all this will not be an issue; in the mean time, it's not great.

[2016-03-08 22:49] nlopezcenteno commented on #1154
+1

[2016-03-09 12:42] jarodium opened #1821 "Manual setting of date range"
Hello

I have a form in which I have 4 inputs in the DOM:

date_start
time_start
date_end
time_end

When I setup the form with class input-daterange the plugin is assuming that time_start is the "end_date" of date_start. I believe is getting all inputs and working with them.

Is there any way I can setup just the inputs I want?
I have tried to add class input-daterange and the following code:
[cod

[2016-03-09 16:47] cristian-sima commented on #1820
I found a way to fix it

`$.fn.datepicker.defaults.zIndexOffset = 1031`

[2016-03-09 16:47] #1820 closed

[2016-03-09 21:37] bbarry opened #1822 "unit tests failing"
835 tests of 842 passed, 7 failed.

    Methods: setStartDate (1, 1, 2)
        failed
        Expected:   "2012-04-05 00:00:00.00"
        Result:     "2012-04-04 00:00:00.00"
        Source:   @file:///C:/git/bootstrap-datepicker-master/tests/suites/methods.js:82:5
    Methods: setEndDate (1, 1, 2)
        failed
        Expected:   "2012-04-05 00:00:00.00"
        Result:     "2012-04-04 00:00:

[2016-03-09 22:37] bbarry commented on #1822
debugging setStartDate: incorrect return value from: https://github.com/eternicode/bootstrap-datepicker/blob/master/js/bootstrap-datepicker.js#L565

called from: https://github.com/eternicode/bootstrap-datepicker/blob/master/js/bootstrap-datepicker.js#L252

[2016-03-10 12:52] baddwin commented on #1809
Yes, I encountered it as well.

[2016-03-10 17:07] schmidtwastl commented on #1154
+1

[2016-03-11 00:53] gr2m commented on #1747
ping :bell: sorry I know how it is to maintain a project, no pressure. But in case this slipped through, would love you to ship 1.6.1

[2016-03-11 18:19] nsinisterra commented on #1618
Hi all!

I need it too, any news about it?

Thanks!

[2016-03-12 02:32] robjens commented on #1816
Alright, thanks for keeping me posted.

[2016-03-14 09:05] audacity76 commented on #1817
there should be an option to prevent this behavior

[2016-03-14 12:27] hebbet commented on #1817
if you want this, please either provide a PR or use the new reactions feature. Comments like +1, "i want this" etc. doesn't speed up development.

[2016-03-14 12:52] jitendraF5buddy commented on #145
its not working

[2016-03-14 17:28] ABM-Dan commented on #1020
+1, it would be nice to have the ability to have the datepicker take over input type="date" without further configuration, since it's pretty much what this widget is expected to do.

[2016-03-15 06:11] hebbet commented on #1020
please use reactions and not "+1" etc.

the format for type=date is dependent on the language of the user. So a german user will get dd.mm.yyyy for example.

[2016-03-15 12:52] r0x0r commented on #1817
I have solved this by commenting out this code on lines 1650-1660.

			if (new_date < this.dates[j]){
				// Date being moved earlier/left
				while (j >= 0 && new_date < this.dates[j]){
					this.pickers[j--].setUTCDate(new_date);
				}
			}
			else if (new_date > this.dates[k]){
				// Date being moved later/right
				while (k < l && new_date > this.dates[k]){
					this.pickers[k++].setUTCDate(n

[2016-03-15 15:05] ABM-Dan commented on #1020
@hebbet understandable, but we're in a world where browsers have an embedded widget that decouples the displayed value from the value sent on submit, I think there should be at least A way in which this widget should be able to emulate the backend behavior. Maybe a special case when you're applying it to a input type="date" ?

[2016-03-15 18:18] hebbet commented on #1020
when i last tested it a few months ago with chrome or firefox, the submitted value for a german browser was 15.03.2016 and not 2016-03-15, but now it is in both cases 2016-03-15.

[2016-03-15 18:20] ABM-Dan commented on #1020
That is extremely strange. It's extremely likely that your test did not actually capture the output of an input="type", I followed html5 dince the whatwg era, and I think it was always outputting a standard value.

[2016-03-15 18:23] hebbet commented on #1020
nope it was not type="text" etc.

[2016-03-16 10:18] gem007bd commented on #456
this is working for me

	    $(function () {
	        $("#datepicker").datepicker({
	            changeMonth: true,
	            changeYear: true,
	            dateFormat: "dd/mm/yy"
	        }).datepicker("setDate", new Date());

	        $('#btnPicker').click(function () {
	            //alert('clicked');
	            $('#datepicker').datepicker('show');
	        });

	    });

[2016-03-16 15:40] ptijul commented on #1662
+ 1. See simple example here https://jsfiddle.net/d3som9vc/.

[2016-03-16 15:57] ptijul opened #1827 "Wrong position when orientation is 'right' AND input-group-addon used"
It's not possible to open the datepicker on the right when an addon is there. The position is wrong.
See example here : https://jsfiddle.net/d3som9vc/4/

Once we take away the addon the position becomes correct : https://jsfiddle.net/d3som9vc/5/

[2016-03-17 09:01] aalho opened #1828 "beforeShowDay with more than one datepicker seems to break something"
Hi!

I have encountered a strange issue with beforeShowDay -option. datepicker version 1.6.0

If I have a datepicker with beforeShowDay -option declared on a web page followed by another datepicker, the later seems to revert to default settings.

Example code below (working as expected):

[code]
However when I want to highlight the dates between the selection, as the date-range does I get strange

[2016-03-17 10:45] Eric75015 commented on #1251
do you find a solution for the submit button? still not working for me, I click on submit and datepicker popup! I'm not in modal...thanks

[2016-03-17 14:23] paulsperanza opened #1829 "Datepicker does not render correctly on focus"
The first time that the input that has the datepicker attached gets focus the datepicker does not render completely. If I move to another input then back to the date input it renders correctly. See attached image.
![datepicker-bug](https://cloud.githubusercontent.com/assets/154852/13848894/30112794-ec2a-11e5-814a-4000eb80a4d3.png)

Using 1.6.0 inside a bootbox dialog that is part of an Angular JS

[2016-03-17 15:07] paulsperanza commented on #1829
I have solved this problem. Datpicker is fine. In an Angular JS controller it seems any loading of jquery widgets should be called from a timeout of approximately 100 ms -

        setTimeout(function () {
            initJqueryComponents();
        }, 100);

This solved the problem so I am closing this issue.

[2016-03-17 15:07] #1829 closed

[2016-03-18 07:55] iyarych commented on #844
I think my issue is related to the same bug. When I disable a day in month the next one gets disabled as a result... So when I disable 2016-03-15, 2016-03-16 gets disabled.
[code]
Is there any solution for this?

[2016-03-18 12:39] BernieCook commented on #983
+1

[2016-03-18 12:51] MrGeneric commented on #983
It's worth considering the date range picker I've linked below if you want the ability to display two months. It is relatively popular and under active development.

https://github.com/dangrossman/bootstrap-daterangepicker

[2016-03-18 12:56] BernieCook commented on #983
Thanks David. I did come across that but your existing datepicker has a lot
of features I need, less the displaying of multiple months when embedded.

That's okay I'll work around it.

Cheers for the prompt response.

Bernie

On Fri, Mar 18, 2016 at 12:51 PM David <notifications@github.com> wrote:

[2016-03-18 13:14] MrGeneric commented on #983
Hi Bernie, I'm only someone who follows this project, don't want to take credit for any of the hard work involved. Hope you can find or build something that works for you.

All the best,
David

[2016-03-18 14:54] iyarych commented on #844
For me this change makes my bug go away:
[code]
Do you think that's the proper fix? I don't have much time to find out how things work in datepicker code...

[2016-03-18 14:57] eadbhard opened #1830 "autoclose not supported by the data-api"
I want to use bootstrap-datepicker without jquery. For this, data-provide="datepicker" on the input controls works perfectly. However, data-autoclose="true" or data-auto-close="true" seem not to work so I have to depend on a jquery call for this.

Please support autoclose in the data-api.

Thanks!

[2016-03-18 15:05] acrobat commented on #1830
The option you should use is `data-date-autoclose`. See [the docs](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#options) for more info. Example [here](http://jsfiddle.net/zcvq0yhh/38/)

[2016-03-18 15:05] #1830 closed

[2016-03-19 09:47] kedarmanure opened #1831 "Date Picker not rendering properly"
I have used the below code in the bootstrap modal for the datetime picker and it is not rendering properly.

`<div class='input-group date' id='datetimepicker1'>
         <input type='text' class="form-control" />
          <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
          </span>
 </div>`

And the below code in JavaScript
`<script type="t

[2016-03-19 10:42] parshwa opened #1832 "Does not trigger react's valuelink function on change"
I am using bootstrap-datepicker with react. Here is the code which is rendered:
`<input type="text" valueLink={this.dateValueLink('date-0')} className="form-control tripDatePicker" placeholder="Select Date"/>`

I am initiating datepicker in componentDidMount
`componentDidMount: function () { $('.tripDatePicker').datepicker({ startDate: "today", autoclose: true, format: "dd/mm/yyyy" }); }`

Datepic

[2016-03-19 10:58] #1831 closed

[2016-03-21 20:13] mdaynul commented on #50
@Kingroys  .. thanks, it works fine. This soultion really makes sense.

[2016-03-22 05:06] scottselby opened #1833 "input value clears when clicking outside of datepicker"
I initialize the datepicker , then set a date before the input is even rendered on the screen.  This all works fine.  Then you click on the textbox and the datepicker shows up like you would expect. If you click outside of the datepicker to get the datepicker to close then the value is cleared out of the text box.  If you choose to click on a date from the datepicker instead of just closing then i

[2016-03-22 05:10] #1833 closed

[2016-03-22 07:16] ravshansbox opened #1834 "Datepicker incorrectly reverts input value after form reset."

[2016-03-22 08:29] burkovsky commented on #1815
Hi @xhnmdl365. Actually it's not very clear from documentation but you can do something like this:

HTML markup:
`<div class="input-group input-daterange js-filters-date">`
`<input type="text" class="form-control js-filters-date-start" />`
`<span class="input-group-addon">to</span>`
`<input type="text" class="form-control js-filters-date-end" />`
`</div>`

and JavaScript:
`$('.js-filters-date').da

[2016-03-22 08:38] burkovsky commented on #1821
Hi @jarodium. You can manually setup list of inputs with [inputs](http://bootstrap-datepicker.readthedocs.org/en/stable/options.html#inputs) option.

[2016-03-22 12:43] trusteddigital commented on #1815
Wow this solved a problem for me too that wasn't clear. If you change an input value using jQuery .val() then it continues to use the old value if you try and select a new date. You've got to use the setDate function above to get it to pick up. Thanks @burkovsky

[2016-03-22 13:36] m4gnetar commented on #500
I added the following line

 at the end of the "click" function (line 254 of boostrap-datepicker.js file) and it has worked:                        `case 'td':
						{...
                                                 ....
                                                     this.hide();
						}
						break;
`

[2016-03-22 20:01] jarodium commented on #1821
Hello @burkovsky

will do.

Thank you

[2016-03-22 20:01] #1821 closed

[2016-03-22 21:11] burkovsky commented on #1818
Hi @yskeat. I haven't tried [getStartDate ](http://bootstrap-datepicker.readthedocs.org/en/latest/methods.html#getstartdate) / [getEndDate](http://bootstrap-datepicker.readthedocs.org/en/latest/methods.html#getenddate) methods but I think you can get needed values with [getDates](http://bootstrap-datepicker.readthedocs.org/en/latest/methods.html#getdates) / [getUTCDates](http://bootstrap-datepicke

[2016-03-23 19:08] hebbet commented on #1834
can you please provide an example of your problem?

[2016-03-24 06:27] tuannda opened #1836 "Error Uncaught SyntaxError: Unexpected token ."
I see error in console.log at line
[code]
with notification:
[code]

How to fix it?

[2016-03-25 16:50] Invizible opened #1837 "'change' event is triggered by 'key up'"
I tried listening of change event on input of datepicker and tried using on('changeDate'), but when I type date manually event is triggered by key up event.
Why is it happening? It seems odd to me :(

[2016-03-26 16:50] ravshansbox commented on #1834
Here is an example:
https://jsfiddle.net/ravshansbox/asy3sgLc/

datepicker by default has a value.
change the value, then press "Reset" button, the focus the datepicker and without selecting any date leave it(click somewhere else), value gets reverted back to last selected before form reset.

[2016-03-27 18:53] spiritelf opened #1838 "language"
i pass a var  __language="zh_CN"   $([$('#birthday')]).datepicker({
					    format: "yyyy-mm-dd",
					    language:__language
					});	,it does not work     but  it work $([$('#birthday')]).datepicker({
					    format: "yyyy-mm-dd",
					    language:"zh_CN"
					});   why

[2016-03-28 06:05] #1838 closed

[2016-03-28 13:13] badrihippo commented on #1154
+1

[2016-03-28 21:04] jsantana90 opened #1839 "Datepicker options not working"
I'm trying to create the datepicker with these options:

[code]

but I'm unable to make them work, I get the datepicker normally but not even the autoclose is working.

What am I doing wrong?

[2016-03-29 05:46] udaraaot commented on #947
Hi, this doesn't work for me. Can you guys please help? This is my code. But this doesnt seem to work.

`$('.input-daterange').bootstrapDP({

		startDate: "+0d",
		defaultViewDate : "+0d",
	  	format: "dd-M-yyyy",
		maxViewMode: 3,
 		autoclose: true,
		orientation: "bottom auto",
		disableTouchKeyboard:true,

	}).on("changeDate", function(e) {

				$('#FromDate').bootstrapDP('setStartDate', e.dat

[2016-03-29 16:06] jsantana90 commented on #1839
nevermind, I was using an outdated version of the plugin

[2016-03-29 16:06] #1839 closed

[2016-03-30 05:31] mvinodpatil commented on #1154
+1

[2016-04-01 16:08] solenoo opened #1840 "changeMonth not working after setting startDate and endDate"
I have a range datepicker and when I set the second field startDate to be that of the first, and make the first input endDate to be that of the second my arrows stop working and i'm stuck on the months i've chosen the dates.

[code]

[2016-04-01 20:41] nsweeting opened #1841 "Update format and ViewModes?"
Is there currently a way to update the format as well as min and max ViewModes? I need to be able to update these values based on the value of a select box. Like:

$('#picker').`datepicker
  format: 'mm/yyyy'
  startView: 'year'
  minViewMode: 'months'
  maxViewMode: 'years'

$('#select').on 'change', ->
  selection = $('#select').val()
  if selection == 'Day'
    #Update picker to format: 'mm/dd/

[2016-04-01 22:59] md5 opened #1842 "Fiscal year support"
I took a quick look through the code and it doesn't appear that this component is able to support year and month boundaries other than the default calendar year and month boundaries. I was hoping it would be possible to use fiscal year/month boundaries.

Am I missing something?

[2016-04-03 22:10] seanjamu commented on #1233
this problem persist now in range datepicker, when select date in a input it cause two events

[2016-04-04 07:54] almalino commented on #1395
This is not a bug but feature I think. When you call ```new Date()``` it has a time portion. Andthat time portion is used for comparison in datepicker code and never matches to any dates without time. Try always to have time as 00:00:00.

[2016-04-04 13:03] RuneMolin opened #1843 "What happened to PR #1577 ?"
#1577  Was is dropped ? I could really use that feature right now...

It has a merge conflict with the assumeNearbyYear feature, but it looks to be manageable. Be glad to give it a shot

[2016-04-06 20:22] elliottisonfire commented on #1788
I had this issue as well, and it turned out to be a missing option in my webpack configuration. In my case, I did not want jQuery to be a part of my bundle, so I had to add an `external` definition.
[code]
Then I simply required bootstrap-datepicker with `require('bootstrap-datepicker/dist/js/bootstrap-datepicker');` and it resolves jQuery correctly.

See https://webpack.github.io/docs/library-and

[2016-04-06 21:56] gwstroup commented on #1387
Were you able to solve this issue? I'm trying to put the same thing in place.

Thanks!

[2016-04-07 02:41] hulucc commented on #1662
+1

[2016-04-07 10:37] PoZu commented on #1154
+1

[2016-04-07 10:56] acrobat commented on #1154
Please use the recently introduced [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) to share your interest for this feature. I'm locking this issue to collaborators only for now, to avoid spamming all the participants with "+1" mails.

Issue will be unlocked when work starts on this feature.

[2016-04-07 12:31] Quivet opened #1844 "defaultViewDate not set to value between startDate and endDate"
This caused an issue, which seemed to make the viewDate flip-flop between endDate and 'today' if the  datepicker was left blank, and then had update triggered on it, causing unexpected behaviour.

[2016-04-07 17:01] EminDemiri opened #1845 "disable date range"
wanting to know if I know how to disable the range of dates between two dates.
I have to disable these ranges of dates:
from 01/01/2016 to 20/06/2016
from 09/01/2016 to 30/12/2016
How can it be done?

[2016-04-08 09:43] k-risc opened #1846 "Initialising a Datepicker element calls update() which triggers a change event even if nothing has changed"
The web application we implement and maintain contains a lot of forms. We have event handlers that set a global `formModified` to true whenever a form field changes. `window.onbeforeunload()` then checks for `formModified` and displays a warning when it's true.

After updating bootstrap-datepicker.js to v1.6.0 we received reports by users about these warnings appear when leaving a page even when t

[2016-04-08 16:05] ChristfriedBalizou commented on #1364
Why is this issue is close ? I'm using "**v1.6.0**"  have the Pop-up position issue. can you re-open the issue please ?

[2016-04-10 20:44] dscsoft opened #1847 "after setDates cannot use defaultViewDate"
Hi, if i use
$('#datepicker').datepicker('setDates', array_days_desireed);
the days are marked well but later if you select a month
$('#datepicker').datepicker({ defaultViewDate: { month: '00', day: '01', year: loaded_year}});
then all days previusly marked are cleared from calendar

Thanks for this great plugin!!!

[2016-04-11 10:38] canfiax opened #1848 "Support for HH:mm"
What about support for hours and minutes? There aren't any good libraries out there that has support for this.

[2016-04-11 11:33] gaer87 opened #1849 "Iinput-daterange and "todayHighlight" options"
Hi!
We find strange behavior when be using [date-range](https://bootstrap-datepicker.readthedocs.org/en/latest/markup.html#date-range) and "todayHighlight" options. If start date is "01/03/2016" and stop date is "31/03/2016" and today is "06/04/2016". If choose stop date in today ("06/04/2016") then stop date will be equal "06/05/2016" but not "06/04/2016". If don't use "todayHighlight" options, t

[2016-04-11 12:34] canfiax commented on #1763
@acrobat any updates on this? There are currently no libraries out there that efficiently support this.

[2016-04-11 12:57] acrobat commented on #1763
@canfiax you could use [Eonasdan/bootstrap-datetimepicker](https://github.com/Eonasdan/bootstrap-datetimepicker). Which is sort of the same code base but with time picking and some other different features.

Again timepicking is something that should come to this lib in the future. But currently I don't have the time to added new features, etc to thislib. I hope that I can make some time in a few

[2016-04-11 13:09] canfiax commented on #1763
Thanks @acrobat :)

[2016-04-11 21:30] antigoogle opened #1850 "Really terrible documentatition ..."
Try make better docs, no examples there, nothing.
 There are alot of better pickers with normal documentation.

[2016-04-11 21:45] antigoogle opened #1851 "Bug with range"

[2016-04-11 21:51] antigoogle commented on #1848
I am using this1: [http://curioussolutions.github.io/DateTimePicker/](url)

[2016-04-11 21:59] raveren commented on #1850
You are a toxic little man spewing thankless, typo-laden bug reports all over github.

The docs are linked in the readme: http://bootstrap-datepicker.readthedocs.org/en/latest/

[2016-04-12 00:16] antigoogle commented on #1850
I know this link ! I said the docs are terrible. Now, please:
1. push the button on your head ;
2. wait to load;
3. read the comment, again.

[2016-04-12 01:35] ghost opened #1852 "How can I append the datepicker to the specific element ?"
Now, the datepicker is appended to the bottom of the page, but i want to append it to the specific element, is it this posible ?

[2016-04-12 01:43] cdelstad commented on #1852
You are probably missing some of the CSS files or the order of Bootstrap and date picker are on the wrong order.

[2016-04-12 06:23] acrobat commented on #1850
@antigoogle feel free to fork the repo and improve the docs on section you feel that need improvement! Thanks!

[2016-04-12 06:23] #1850 closed

[2016-04-12 09:26] fengzhibin opened #1853 "how can i stop the datepick change page where I click a day not in this month"
When I click on previous month or next month's date, I hope to stop the calendar turn to previous month or next month,how can I do this?Thank!

[2016-04-12 22:17] andrews05 commented on #1032
I've just noticed the same thing, when I set startDate to 'today' it allows yesterday. However this is only happening in v1.6, in v1.5.1 it works fine. I'm currently working around it by setting startDate to the actual current date, e.g. '2016-04-13' instead of 'today'.

[2016-04-13 12:00] PhilPJL commented on #1132
Windows / IE considers simplified Chinese to be zh-Hans or zh-CN.
Plus there are several other variants.  It would be useful to add further support.

![snip](https://cloud.githubusercontent.com/assets/271656/14492493/7c8030cc-0177-11e6-83ac-0fef2d661e87.PNG)

[2016-04-13 22:51] antigoogle commented on #1850
I do not have problems to help if needed.

[2016-04-13 22:52] vsn4ik commented on #1851
Use `$('input')` without `'s'`

[2016-04-14 00:29] Oxicode commented on #1851
Hahaha

[2016-04-14 01:02] #1851 closed

[2016-04-14 06:19] acrobat commented on #1850
@ghost Just fork the repo, extends the doc parts you feel need extra examples, explanation, ... and open a PR we will be happy te merge it if it make the part more clear!

[2016-04-14 07:02] mohan1899 commented on #329
Best Solution for disable future date...
var date=new Date();
      $('#datetimepicker').datetimepicker({
        format: 'MM/dd/yyyy',
        language: 'en',
		startDate : new Date('2015-01-01'),
		 endDate :  date
      });

[2016-04-14 11:18] David-Bascom commented on #1364
Same problem here – not fixed yet.

[2016-04-14 11:21] usarskyy opened #1856 "Serbian locales -> "sr" code does not belong to Serbia"
Hello,

repository contains the following Serbian locale files:
- bootstrap-datepicker.rs.js
- bootstrap-datepicker.rs-latin.js
- bootstrap-datepicker.sr.js
- bootstrap-datepicker.sr-latin.js

Accordingly to [Wikipedia](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) "SR" code does not belong to Serbia, it is [Suriname](https://en.wikipedia.org/wiki/Suriname)

Fix of this issue is quite simple:

[2016-04-14 16:01] cdelstad opened #1857 "datepicker fails on dates manually entered not in defined format"
If I hand enter a date, 2016/01/01 in the input field, datepicker is translating the date to 12/01/1.
From debugging, the code just assumes if the format is mm/dd/yyyy, that the data entered is in that format. If a user types 2016/01/01, it parses the 2016 as the mm part, and then other logic does some translating.
How do I either 1) get the picker to fail the date as invalid, or 2) be more sensit

[2016-04-14 16:04] cdelstad opened #1858 "forceParse and assumeNearby tied together"
I do not want my picker to attempt to change the date entered to a valid-ish date.If it's an invalid date, we need it to stay invalid.
I also need to be able to enter 2 digit years.
The way this component is coded, I cannot have one without the other.
I feel the logic for these two should be separated so we can chose one or the other.

[2016-04-15 03:57] amit1911 commented on #1260
+1

[2016-04-15 20:25] cdelstad commented on #1629
I am seeing this issue outside Firefox as well using the 1.6.0 version. I opened an isuse: https://github.com/eternicode/bootstrap-datepicker/issues/1857

[2016-04-16 00:17] denniscastro commented on #1561
HI

I had the same problem until today

I solved it changing

    if (String(oldDates) !== String(this.dates))
to
    if (String(oldDates) != '' && (String(oldDates) !== String(this.dates)))

in bootstrap-datepicker/js/bootstrap-datepicker.js line 836
the first time oldDates is empty.

[2016-04-16 13:40] EliteSandwich commented on #1728
I have been having the same issue.  Setting AutoPostBack="false" prevents the unintentional postback, but you obviously lose AutoPostBack functionality.  I'll update my comment if I'm able to find a better work-around.

[2016-04-16 19:20] #1795 closed

[2016-04-18 10:27] yogeshsaroya opened #1860 "How do I make datepicker show up in the center of mobile/tablet web browser screen?"
How do I make datepicker show up in the center of mobile/tablet web browser screen like attached screenshot
![55be76f2-caf7-421a-8c95-bdeefd824ee7](https://cloud.githubusercontent.com/assets/718025/14601174/3bdf045c-057e-11e6-932a-14426e8b4b27.jpg)

Thanks

[2016-04-18 17:00] neverfan opened #1861 "Displayed month has overrides after use setDates method"
After set dates by setDates method displayed month has overrides on last added Date.
expected: today month (default)

[2016-04-18 17:09] neverfan opened #1862 "setDates not add activa day class for today"
If add today date by setDates method datepicker not add "active" day class for today date.
expexted: add "active" class for today date.

[2016-04-18 17:37] samiraguiar commented on #1817
This is a duplicate of #721. A workaround is provided there.

[2016-04-18 17:38] samiraguiar commented on #1772
This is a duplicate of #721. A workaround is provided there.

[2016-04-19 11:44] jipexu commented on #1668
Hi
I also use BS4 alpha.2 and in fact for now i really see only one problem with the placement of the calendar  : always to high (and seems constant) ....
so it seems that the calcul of the top property not work for BS 4 ... Is it right ?
I think this problem can be fixed easily ... in a first time by an hard hack on the top property...
I would like to fix this but not much time ... but i will try

[2016-04-19 14:01] camelyanvb opened #1864 "v1.6 Uncaught TypeError: Cannot read property 'toDisplay' of undefined"
Sorry,sorry!
I've figured this out.
Incorrect locale file - from v1.4

After upgrading from v 1.4 to v1.6 I am getting this error on page load
format is undefined in that moment
There is call stack

DPGlobal.formatDate (bootstrap-datepicker.js:2010)
Datepicker.fill (bootstrap-datepicker.js:993)
Datepicker.update (bootstrap-datepicker.js:825)
Datepicker (bootstrap-datepicker.js:147)
(anonymous func

[2016-04-19 15:42] cederlof commented on #1360
@Azaret Having the same issue raised by a usability-review. I would expect the component to give some kind of error if the user enters a non-valid date. Now when it is auto-"fixed" by the browser, the user might think she set one date, but in doing it incorrectly it sets another date, not intended by the user, which might oversee it.

[2016-04-19 20:28] hebbet commented on #1668
BS4 support is tracked at #1670

I will start updating as soon as an beta is available.

[2016-04-20 07:50] Azaret commented on #1857
You issue is not related to Y2K bug but to this one #1360 .
As for now the datepicker does not try to guess which format is input, because it is tricky and leads to mistakes. We might come back on that in the future, but not now.
You have to force the format you want with the [format option](http://bootstrap-datepicker.readthedocs.org/en/stable/options.html#format).

[2016-04-20 13:41] zaibazhar opened #1865 "disable previous dates"
How to disable all previous dates except current date and onward?

[2016-04-21 01:15] Glutnix commented on #1761
I would like to know where this is at, as it is affecting me right now.

[2016-04-21 01:33] EvanCarroll commented on #1761
Patch is here,

https://github.com/eternicode/bootstrap-datepicker/pull/1762

[2016-04-21 02:21] abdfahim opened #1866 "Popup calendar position is set releated to body, which cause issue in modal"
The calendar that pops up when click on the datepicker button is attached to the body. Also the position of the calendar box is set as absolute.

So, when you place the datepicker in a long model (where modal can be scrolled), the calendar box does not scroll (because the position is set to body, and when we scroll modal, the body remains fixed).

In my opinion, calendar should be fixed with its p

[2016-04-21 09:17] acrobat commented on #1866
Does the option [`container`](https://bootstrap-datepicker.readthedocs.org/en/latest/options.html#container) fix your problem? See example: https://jsfiddle.net/Lkzvkmok/1/

[2016-04-21 09:23] abdfahim commented on #1866
Perfect. thanks.

[2016-04-21 09:23] #1866 closed

[2016-04-21 16:09] jabbett commented on #523
@eternicode Yes, the datepicker doesn't set `data-date`, but `update()` looks in that attribute to distinguish whether a value has been set/unset. If `clearDates` doesn't clear the attribute, `update()` will never do anything (including trigger `changeDate` or `clearDate`).

[2016-04-22 02:53] shihao316558512 commented on #1372
+1

[2016-04-22 03:00] shihao316558512 commented on #1364
+1

[2016-04-22 10:17] jduelferOmega commented on #500
mine worked by overriding the default for all datepickers:

`$.fn.datepicker.defaults.autoclose = true;`

But I didn't need it different for each individual datepicker, I wanted them all to autoclose.

[2016-04-23 16:39] arielcannal opened #1868 "Invalid Dates"
I would like to alert the user when it manually enter an invalid date.
Is there any event to handle this?

[2016-04-23 17:09] cdelstad commented on #1868
You can use the formvalidation.io. works great for us.
On Apr 23, 2016 11:39 AM, "arielcannal" <notifications@github.com> wrote:

[2016-04-24 00:59] arielcannal commented on #1868
I need the alert is triggered exactly when I select the invalid date.
The warning can not be in the form submission: /

Sorry for English: Google Translator.

[2016-04-24 01:19] cdelstad commented on #1868
It happens in real time, not on form submission, unless you configure it to
work only that way.
Here's the example.
http://formvalidation.io/examples/bootstrap-datepicker/
On Apr 23, 2016 7:59 PM, "arielcannal" <notifications@github.com> wrote:

[2016-04-24 21:59] askanhan opened #1869 "Positioning when drops is up"
If you change "drops" property to "up" to open daterangepicker on top of input label, the dialog is shown at the first click correctly. Later, if you click again, the dialog is opened at the top of page, or very far from the input label.

So, i can not use the property "drops" effectively.
![drp](https://cloud.githubusercontent.com/assets/5607648/14770719/7e72d31c-0a78-11e6-8c3e-b1aaa6cf86f8.PNG)

[2016-04-24 22:01] #1869 closed

[2016-04-27 01:15] mrnav90 opened #1871 "How to set new month in datepicker"
Hi guys.

First, i want to thanks you created bootstrap-datepicker, it's really great. I have issue need support :(.

Currently, I don't know how to set a new month for datepicker, I saw has method: "setStartDate". But i can't use beacause it not work for me. Please help me, thanks.

[2016-04-27 22:22] rcdl commented on #1849
Same problem here, but i'm not using date-range just "todayHighlight". If i don't use "todayHighlight" it works fine.

[2016-04-28 09:03] acrobat commented on #1865
You can use `startDate: 'today'`for this. See example: http://jsfiddle.net/zcvq0yhh/42/

But please use this issue tracker for reporting bugs or feature requests and use sites like [stackoverflow](http://stackoverflow.com/questions/tagged/bootstrap-datepicker) or the [google groups page](https://groups.google.com/forum/#!forum/bootstrap-datepicker)  to get support setting up applications. Thanks!

[2016-04-28 09:03] #1865 closed

[2016-04-28 09:50] acrobat commented on #1856
The list you are looking at is the ISO list of country codes (ISO 3166) we use [ISO 639](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) (the language code iso standard) to identify the language codes. But "rs" should be deprecated (and removed in 2.0) as it's an incorrect language code!

[2016-04-28 14:05] alexquinterorivera opened #1872 "re-enable disabled day on click"
Problem:

I have disabled weekdays 0,6 (weekends)
I need to be able to enable specific days within weekends on click.

Right now when i try to manipulate classes it will not let me do this, it changes the class to remove disabled , then makes it active and brings back the disabled. So the active class will be added but the disabled class will not be removed.

$('#datepicker').datepicker().on('show

[2016-04-28 17:10] rosskevin opened #1873 "Announcing picker.js project (ES2015 port) for BS3, BS4, BMD4 - and a thank you!"
I've just released an evolution of `bootstrap-datepicker` called [picker.js](https://github.com/alienfast/picker.js).  It is functionally complete for Bootstrap 3 and _mostly_ a drop in replacement, though some of the config has changed in structure.

Since I switched from bootstrap 3 to bootstrap-material-design, I needed to make some major visual modifications, but I didn't want to lose the effo

[2016-04-29 10:00] smthpickboy opened #1874 "UTC conversion error"
Code from 1.6.0:
_utc_to_local: function(utc){
        return utc && new Date(utc.getTime() + (utc.getTimezoneOffset()*60000));
    },
_local_to_utc: function(local){
    return local && new Date(local.getTime() - (local.getTimezoneOffset()*60000));
}

This is simply wrong. For example:
`var local = new Date();`
Gives me:
`Fri Apr 29 2016 17:41:40 GMT+0800`
But, according to _local_to_utc code,
`n

[2016-04-29 10:06] smthpickboy commented on #1874
Well, there are 2 problems.
No.1 is #1743
No.2 is UTC conversion bug.

If only No.2 is fixed, No.1 will still cause "endDate" problem for GMT-0X00 time zones and similarly "startDate" problems for GMT+0X00 time zones.

[2016-04-29 16:58] AbeyMarquez commented on #1662
In 1.6 I'm getting an effect in which if I specify orientation top it goes to the bottom of the textbox and if I specify bottom it goes to the top! The math calculation of the style top property seems to be inverted. I downgraded to 1.4 and it was working ok.

[2016-04-30 00:15] iiwo opened #1875 "2-digit year format broken in 1.6+ for existing input value?"
I'm using the 2-digit year format, and have input value set before initializing datepicker,
I'm using the format option:
[code]
this was working fine in 1.5 - with 1.6+ format option does't seem to be respected upon initialization and I"m getting 19yy

see examples:

[1.5 - working ok](http://codepen.io/iiwo/pen/PNyvpz)

[1.6 - broken](http://codepen.io/iiwo/pen/GZYaOq)

[2016-05-02 22:28] casperson opened #1876 "Datepicker disappears when clicking scroll bar and doesn't return when clicking in input box again."
This only happens when you click on the scroll bar on a page. When you click, the datepicker disappears, but the input box doesn't lose focus. Now if you click back into the input box (which still has focus) the datepicker will not pop open. You have to click outside the box to blur it, then click back in. If you click outside the input box anywhere else besides the scroll bar, then the input box

[2016-05-03 06:40] jkbansiwal commented on #329
Try this, it is working in my case:

    $(function () {
            $('#Datein').datetimepicker(
                {
                    daysOfWeekDisabled: [0],
                    format: 'MM/DD/YYYY',
                    ignoreReadonly: true,
                    maxDate: 'now'
                }
              );
        });

[2016-05-03 09:29] medigvijay opened #1877 "Disabled dates getting selected on "ENTER" key press"
I have disabled few dates in the date-picker but while navigating with keyboard to a disabled date and pressing ENTER key the disabled date gets selected on "ENTER" key press.
Can be tested on this page

https://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation

[2016-05-03 10:10] medigvijay commented on #1877
Here is what I have done to fix it at line **1288** for the **case 13**:

`if(this.o.daysOfWeekDisabled.indexOf(focusDate.getDay()) !== -1) {

    e.preventDefault();

    if (typeof e.stopPropagation === 'function') {

	e.stopPropagation(); // All modern browsers, IE9+

    } else {

	e.cancelBubble = true; // IE6,7,8 ignore "stopPropagation"

    }

    return false;

}`

Please let me know if t

[2016-05-03 16:29] CampbellNash commented on #1358
+1

[2016-05-04 07:07] #1822 closed

[2016-05-04 07:13] acrobat commented on #1747
@gr2m sorry for the delay, 1.6.1 should be out this weekend!

[2016-05-04 07:19] acrobat commented on #1848
We currently don't support timepicking but that could be a feature we add in the future (no eta or roadmap yet). But you could use the [Eonasdan/bootstrap-datetimepicker](https://github.com/Eonasdan/bootstrap-datetimepicker) it was build from a fork from this lib but with now different and extra features, including time picking. So for now I would suggest you use the datetimepicker library!

[2016-05-04 07:19] #1848 closed

[2016-05-04 20:47] #1852 closed

[2016-05-04 20:48] acrobat commented on #1836
@tuannda can you provide a jsfiddle to get a working example of the issue?

[2016-05-04 22:05] vsn4ik opened #1879 "Sourcemap (css) row not added"
Please run `npm update && grunt dist`

[2016-05-05 11:33] peterekjs opened #1880 ".datepicker-orient-top arrow bad positioning"
even with property `bottom` set to pseudo-elements on .datepicker-dropdown.datepicker-orient-top, there are still active `top` properties previously set on .datepicker. (probably it will make similar issues with left-right classes)

Suggest to put some resets into positioning classes e.g.:

[code]

[2016-05-05 12:38] nakazye commented on #1364
This issue resolved with below PR In my environment. Can you merge this PR?
https://github.com/eternicode/bootstrap-datepicker/pull/1371

[2016-05-05 19:47] abumalick opened #1881 "Bug for start date in sandbox alpha"
I like your sandbox, very userfull.

Here is the bug :
[screenshot](http://tinyurl.com/z9dec6l)
When you choose start date 01/01/1990
He starts in 3990

Keep up the good work !

[2016-05-06 08:35] yourivdlans commented on #1751
I'm experiencing similar issues. When using `datesDisabled` within the initializer it works. But when updating it with `$('#datepicker').datepicker('setDatesDisabled', '01/01/2016');` it doesn't.

[2016-05-06 19:16] codymullins commented on #1364
@nakazye that fixes my issue as well

[2016-05-06 19:40] rosskevin commented on #1873
Well this has been a short run!   We have just completed a refactoring of this bootstrap-datepicker into picker.js (it's in great shape) and we have decided to switch to a full ReactJs stack.  I've made a [call for new maintainers/owners](https://github.com/alienfast/picker.js/issues/15).  I'm willing to accept new maintainers or consider transferring ownership to someone that will continue to kee

[2016-05-06 19:48] acrobat commented on #1747
@gr2m [1.6.1](https://github.com/eternicode/bootstrap-datepicker/releases/tag/v1.6.1) is released!

[2016-05-06 19:48] #1747 closed

[2016-05-06 21:14] #1879 closed

[2016-05-06 21:15] acrobat commented on #1856
I've added the deprecation notice in 0ae9678. Translations will be removed in 2.0

[2016-05-06 21:16] acrobat commented on #1828
@aalho can you provide a jsfiddle example? It makes it easier to debug, thanks!

[2016-05-06 21:49] #1260 closed

[2016-05-06 21:50] acrobat commented on #1260
I've added the disabled class in d58e500. Will be released in 1.7.0!

[2016-05-07 09:59] acrobat commented on #1864
@camelyanvb is this issue resolved?

[2016-05-07 13:30] leotsarev opened #1884 "Update NuGet package to 1.6.1"
Dear @scott-xu,
could you please upgrade NuGet package to 1.6.1 version?

[2016-05-07 13:52] redayoub commented on #1622
I'm having the same problem, I want to display date as 'dd/mm/yyyy' and set the value to 'yyyy-MM-dd', but I always get for example:

`
The specified value "27/05/2016" does not conform to the required format, "yyyy-MM-dd".
`

Here's the code I'm using:

[code]

Any help please?

[2016-05-07 14:56] leotsarev commented on #1884
WOW, that was fast!

[2016-05-07 15:11] leotsarev commented on #1884
But sadly, that was wrong.
1.6.1 package is broken — probably something related to Scripts should be inside content

[2016-05-07 17:59] vsn4ik commented on #1881
@acrobat Please, update the library itself on sandbox. Now only the actual text on buttons (49113f62669571d95433bd1ae48efe311539554b).

@abumalick I could not play with the latest stable version (1.6.1). Once @acrobat updates the version on sandbox, will have to try to play back again.

[2016-05-07 19:51] Azaret commented on #1881
Just tested on 1.6.1 and it works fine. I guess it's related to the sandbox page itself.

[2016-05-07 19:58] Azaret commented on #1880
I'm not sure to understand what you're trying to achieve.
Could you elaborate more ?

[2016-05-07 20:15] Azaret commented on #1877
This issue have been fixed in the latest version.
Thank you for your feedback.

[2016-05-07 23:20] vsn4ik commented on #1264
@cgsmith use:
http://bootstrap-datepicker.readthedocs.io/en/stable/options.html#assumenearbyyear
http://bootstrap-datepicker.readthedocs.io/en/stable/options.html#format

@acrobat, @hebbet, @eternicode please close this PR.

[2016-05-08 08:55] Azaret commented on #1872
`daysOfWeekDisabled` is not designed to have exception, you should use [`beforeShowDay`](http://bootstrap-datepicker.readthedocs.io/en/stable/options.html#beforeshowday) instead.

[2016-05-08 08:57] Azaret commented on #1871
Hi,
What do you mean by set a new month ?

[2016-05-08 09:56] alexquinterorivera commented on #1872
Thanks! I misunderstood the assignment I was given, I had to make it a toggle so I used setdate

Verzonden vanaf mijn Samsung Galaxy-smartphone.
-------- Oorspronkelijk bericht --------Van: "Gregoire D." <notifications@github.com> Datum: 08-05-16  10:56  (GMT+01:00) Aan: eternicode/bootstrap-datepicker <bootstrap-datepicker@noreply.github.com> Cc: alexquinterorivera <alexquinterorivera@gmail.com>,

[2016-05-08 12:13] #1872 closed

[2016-05-08 12:17] acrobat commented on #814
Fixed in #1731

[2016-05-08 12:17] #814 closed

[2016-05-08 12:19] #1264 closed

[2016-05-09 00:02] vsn4ik commented on #1167
@eternicode I have been helping with the development of this plugin. I could speed up if I had more access. I would be grateful if you add me to the contributors.

History of PR's: https://github.com/eternicode/bootstrap-datepicker/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Avsn4ik

[2016-05-09 06:34] medigvijay commented on #1877
But I am still facing the same issue in the [demo page](https://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&daysOfWeekDisabled=0&daysOfWeekDisabled=1&keyboardNavigation=on&forceParse=on#sandbox)

[2016-05-09 06:39] acrobat commented on #1877
@medigvijay the demo page js versie is still out dated, I will try to update it as soon as possible

[2016-05-09 06:57] acrobat commented on #1877
Js and css have been updated on the demo page

[2016-05-09 06:57] #1877 closed

[2016-05-09 07:40] acrobat commented on #1884
I think it's best to use the [Contact owners](https://www.nuget.org/packages/Bootstrap.Datepicker/ContactOwners) link on the nuget page. Closing this for now as we don't maintain the NuGet package

[2016-05-09 07:40] #1884 closed

[2016-05-09 08:14] medigvijay commented on #1877
Thanks working now

[2016-05-09 08:33] Azaret commented on #1876
So the issue here is coming from "recent" updates of webkit. (_At least for me since we upgraded some webapp where we use datepickers from iOS5 to iOS9 recently, yeah took us some time..._)

When you click outside an input, the chain of events goes as follow:

1. `mousedown` (& `touchestart` on mobile) with where you clicked as target and bubbles.
2. `focusout` with the input as target
3. `click`

[2016-05-09 10:00] aalho commented on #1828
Hi!

Here are the jsfiddles.

This one works as expected:
https://jsfiddle.net/3757ty4z/3/

This one does not function as expected. (pay attention to the today button on the second datepicker)
https://jsfiddle.net/1v9q6uxz/2/

[2016-05-09 14:13] acrobat commented on #1881
The sandbox page was updated today and the bug seems to be resolved!

[2016-05-09 14:13] #1881 closed

[2016-05-09 17:19] #1221 closed

[2016-05-09 19:26] acrobat commented on #1875
This behavior was added in #1631, what you could do in the meantime is to add `assumeNearbyYear: true`. This should restore the old behavior for you. I will take a look if and how we should fix this!

[2016-05-10 09:43] camelyanvb commented on #1864
@acrobat
Yes! Thank you. I have created an unnecessary locale file. This led to an error

[2016-05-10 09:43] #1864 closed

[2016-05-10 10:13] stebru commented on #1880
I've also run into an issue with bad positioning of the arrow. Setting orientation explicitly doesn't help either.

As you can see, the picker itself is positioned correctly, but the arrow points in the wrong direction:
![eb29278636abd3424e18b3adf6ef433d](https://cloud.githubusercontent.com/assets/24052/15142971/b0fa2b38-16a7-11e6-8399-6cfbcce0f087.png)
![e56b2871008172a649a9c3de8b93699a](https://

[2016-05-10 17:50] nwhittaker opened #1887 "Cursor style for disabled dates"
Please consider the `not-allowed` cursor style for disabled dates.

[2016-05-11 06:31] acrobat commented on #1887
You can override the less or compiled css to achieve the different cursor style. Style is added [here](https://github.com/eternicode/bootstrap-datepicker/blob/master/less/datepicker3.less#L92)

Example:
[code]

[2016-05-11 06:49] mansouralex commented on #888
@johnallers does this feature available now?

[2016-05-11 07:01] acrobat commented on #888
Yes, in the `format`option you have a `toFormat` and `toDisplay` method to alter dislay and save format of the date

See the [`format`option docs](https://bootstrap-datepicker.readthedocs.io/en/latest/options.html#format)

[2016-05-11 07:01] #888 closed

[2016-05-11 07:02] mansouralex commented on #888
@acrobat Thanks, that's great.

[2016-05-11 07:37] Marc-pi commented on #1387
@eternicode i was looking for this on the doc for range (http://bootstrap-datepicker.readthedocs.io/en/latest/options.html), it is available or not yet ?
seems it was https://github.com/eternicode/bootstrap-datepicker/issues/1031, please confirm how to active this, thx

NB : same issue https://github.com/eternicode/bootstrap-datepicker/issues/1707, we can close one of them.
NB2: this one is relate

[2016-05-11 07:51] mansouralex commented on #888
@acrobat could you provide an example for formatting?

For example:
`toDisplay ` dd-mm-yyyy
`toValue` yyyy-mm-dd

Thank you.

[2016-05-11 08:12] SaharZehavi commented on #1622
@redayoub
i have the same problem.

[2016-05-11 08:23] acrobat commented on #888
@abibell can you give some support on how to implement this usecase with the toDisplay and toValue options?

[2016-05-11 08:53] mansouralex commented on #888
I'm trying the example in the docs but I noticed that both the displayed and submitted value are the toDisplay one

[2016-05-11 09:13] mansouralex commented on #888
@acrobat @abibell my first query has been solved using what is suggested here: [1622#issuecomment-217636379](1622#issuecomment-217636379)

[2016-05-11 09:24] abibell commented on #888
Great. Let me know if you need further help @acrobat

[2016-05-11 09:41] mansouralex commented on #888
@abibell any suggestion for the issue that submitted value are the toDisplay value? Thanks.

[2016-05-11 10:04] abibell commented on #888
I am not sure if I understand your question exactly @mansouralex. Say we have a date *DT* and this is the date we want to store in API/DB. However you want the date to be displayed to user in different format, then you use toDisplay(dt) to convert to string.

To convert back to *DT* we write a to value()

What is your particular situation. If the date is DT, how do you want it to be displayed? How

[2016-05-11 10:10] mansouralex commented on #888
@abibell Thanks for your reply. What I'm looking for is to display the date in this format dd-mm-yyyy which I have already done using toDisplay(). What I need is that the sent to the server date format to be in yyyy-mm-dd.

The following is my code

`$.fn.datepicker.defaults.format = ({
            toDisplay: function (date, format, language) {
                var date = new Date(date),

[2016-05-11 10:27] abibell commented on #888
Your toValue() has code ```new Date(date)``` which will take dd-mm-yyyy and attempt to create date object. Depending on browsers regional settings it will convert it based on dd-mm-yyyy or mm-dd-yyyy. I think you need to fix this. I would use momentjs library to do this work for us (I prefer reuse over redo).

[2016-05-11 10:46] mansouralex commented on #888
@abibell I got your point. Thanks for clarifying this.

Could you help on this - on how to use moment to fix this issue?

[2016-05-11 19:09] nwhittaker commented on #1887
Understood, I guess the crux of the issue is that `.datepicker` might be too generic a class name. I've got a datetime-picker[1] on the same page as this date-picker. And this cursor style is bleeding onto the datetime-picker's cursor style[2].

[1] https://github.com/Eonasdan/bootstrap-datetimepicker
[2] https://github.com/Eonasdan/bootstrap-datetimepicker/blob/4.17.37/src/sass/_bootstrap-datetim

[2016-05-11 19:12] spiritelf opened #1888 "event not trigger"
$([$birthday]).datepicker({
					    format: "yyyy-mm-dd",
					    language:__language,
					    startView: 0,
					    defaultViewDate: { year: 1977, month: 04, day: 25 },
					    //autoclose: true
					}).on("changeDate",function(){window.alert("aa")});   this not happen "aa"

[2016-05-11 19:45] spiritelf opened #1889 "dropdown year select"
how to quick select year? or dropdown select?

[2016-05-11 20:51] abibell commented on #888
```toDisplay(dt) { return moment(dt).format("dd-MM-yyyy"); }```
```toValue(dt) { return moment(dt, "dd-MM-yyyy").to date(); }```

Lookup momentjs on google for the API and to  get started.

[2016-05-11 20:52] iiwo commented on #1875
thanks @acrobat, we just downgraded to 1.5 for now

but forgot to add most important thing about the issue - it's actually not that it's not defaulting to current millenium, much more concerning (and causing errors for us) is that it results in broken dates when:

- you click/focus the input and datepicker shows up
- you do not select any date but click outside the datepicker to hide it
- the inpu

[2016-05-12 12:49] acrobat commented on #1875
@ajb do you have a moment of time to take a look at this issue? As we have regression after the [`assumeNearbyYear` PR](https://github.com/eternicode/bootstrap-datepicker/pull/1631)

[2016-05-12 13:54] stanpalatnik commented on #721
Are there any plans to address this?

[2016-05-12 13:57] acrobat commented on #721
I hope we can fix this in 1.7.X!

[2016-05-13 14:28] spiritelf commented on #1888
why ???

[2016-05-13 14:36] cgsmith commented on #1264
Thanks for the update @vsn4ik!

[2016-05-14 02:21] cdelstad opened #1892 "Cannot set date outside date range"
My use case is that a user cannot set a follow up date in the past, nor more than 10 days in the future by using the datepicker. However, when a user goes in to a record later, I cannot load that date if it is outside the startDate/endDate range and we need to display the database value regardless of the date range. The best I have been able to do is set the date in the input field prior to instan

[2016-05-14 13:03] acrobat commented on #721
There is an fix proposed for this issue in PR #1891. Can you guys verify if this fixes the issue?

[2016-05-14 16:00] Erandakuruneru commented on #600
<style>
  .datepicker{z-index:1151 !important;}
</style>

[2016-05-16 05:10] mansouralex commented on #888
@addbrick Thanks for your help. Will be trying it shortly.

[2016-05-17 13:24] euskadi31 commented on #1760
I tested with a new version (1.6.1) and I have the same problem.

[2016-05-17 13:29] Rui-Git commented on #1760
Same here

[2016-05-17 15:43] mansouralex commented on #888
@abibell Still the same result.

Both displayed and sent date are in the same format which is DD-MM-YYYY

`$.fn.datepicker.defaults.format = ({
            toDisplay: function (dt) {
                return moment(dt).format("DD-MM-YYYY");
            },
            toValue: function (dt) {
                //return moment(dt).format("MM-DD-YYYY").toDate();
                return moment(dt, "MM-DD-Y

[2016-05-17 19:45] stanpalatnik commented on #1888
$([$birthday]).on("changeDate",function(){window.alert("aa")});

[2016-05-17 20:20] abibell commented on #888
Then you must be sending toDisplay to your server side API. You should send
the toValue.

Place a working plunkr somewhere. So someone can help.

On Wed, 18 May 2016, 1:43 AM mansouralex <notifications@github.com> wrote:

[2016-05-18 00:46] stanpalatnik commented on #1876
Why not just keep track if the picker is open or not, and check against it whenever we focus on the picker input?

[2016-05-18 08:21] acrobat commented on #1888
@spiritelf in the GitHub repository we only discuss bugs and new features. For this kind of questions please use any of the support alternatives like [gitter](https://gitter.im/eternicode/bootstrap-datepicker) or [stackoverflow](http://stackoverflow.com/questions/tagged/bootstrap-datepicker) Thanks!

-------------------------
The example of @stanpalatnik work, see [example](http://jsfiddle.net/zcv

[2016-05-18 08:21] #1888 closed

[2016-05-18 11:26] acrobat commented on #1887
@nwhittaker Can you provide a jsfiddle example to show the issue?

[2016-05-18 11:30] acrobat commented on #1873
Thanks for the heads up! Closing this issue for now as we keep putting effort in developing this library. We don't have the knowledge of the reworked lib as we know this library and it's already abandoned and looking for new maintainers (right after the "launch").

So thanks again for the information but we will currently stick to this library!

[2016-05-18 11:30] #1873 closed

[2016-05-18 23:35] stanpalatnik commented on #1876
Created a solution that blurs the input whenever it hides the datepicker. Those actions should be coupled. What do you guys think?

[2016-05-18 23:37] stanpalatnik commented on #1868
You can already do this indirectly. Listen on the changeDate event, and check if the new date is valid in your callback.

[2016-05-18 23:43] stanpalatnik commented on #1843
+1

[2016-05-18 23:57] adambiggs commented on #1846
I'm dealing with this issue as well. See #1561

[2016-05-19 06:44] acrobat commented on #1876
@Azaret it looks like #1895 fixes the issue, does it looks like a good solution to you?

[2016-05-19 08:32] iloveip opened #1896 "Toggle datepicker on input click"
Hi there,

I have a question. Is it possible to hide datepicker with no date selected on input click? I have `autoclose` feature enabled, but it hides datepicker only if the date is selected. And I would like to toggle datepicker (show/ hide) on input click.

I would really appreciate your help.

Datepicker version used 1.6.1.

[2016-05-19 11:17] janat08 commented on #580
Isn't working I think.

[2016-05-19 15:07] nwhittaker commented on #1887
I'm not inclined to create a fiddle as it's kind of a complicated set-up w/ a fair number of dependencies to manually pull in. To address this particular issue, I don't expect a code change from you since it'd require changing the `.datepicker` class name which sounds like a major backwards compatibility break to me.

I guess just be aware that for sites needing more than one type of date picker,

[2016-05-20 14:47] jneuhaus opened #1897 "bootstrap-datepicker onchange event firing in infinite loop upon page load"
### Summary
I'm using version 1.6.1 of bootstrap-datepicker. I have the following form field on a JSP page:

[code]

The intent is to allow a new date to be picked, and upon selection to trigger form submission using the 'onchange' event.

I have the following initialization block:

[code]

The issue I'm having is that upon page load, 'submit_form' is called, loading the page again and then 'submi

[2016-05-20 16:11] diedona opened #1898 "Range - Typing dates"
### Expected behaviour
Whenever i'm writting a date to the final date box, it should wait until i have finished writting the data to update the value.

### Actual behaviour
If i have a date range with values **01/05/2016** and **30/05/2016** (dd/mm/yyyy format) and then procede to edit the final date to something like "**22/05/2016**", the first date will be left at "**22/05/2**", because 2 is the

[2016-05-22 12:31] getamach opened #1899 "Datepicker version 1.6.1 stops jQuery 2.2.x"
Working fine with jQuery 2.1.x version. When jQuery was upgraded to 2.2.x, when we call datepicker function, jQuery stops showing error
Error is: View is null

Error comes from jQuery, not from bootstrap-datepicker.js

[2016-05-23 07:07] acrobat commented on #1899
Can you provide (as the issue template suggests) a jsfiddle example to show the issue? (I can't reproduce)

[2016-05-23 11:29] #1454 closed

[2016-05-24 06:11] abrahammj commented on #1622
FWIW: I had the same issue and it was jQueryUI datepicker taking control over bootstrap one.

[2016-05-25 03:49] msct commented on #1897
Just browsing, but instead of the `onchange` attribute try using the `changeDate` event:
[code]

[2016-05-25 10:04] samilyak commented on #970
+1

[2016-05-25 13:37] jneuhaus commented on #1897
@msct - your recommended solution works; however, it does mean writing more javascript code within the page whenever I want to auto-submit upon date change...before the most recent version all I needed was the 'onchange' approach and a "global" datepicker configuration.  Your solution allows me to upgrade this component, so thank you for pointing this out.

[2016-05-25 13:37] #1897 closed

[2016-05-27 02:22] Federico-Comesana opened #1902 "There is not '.date-reset' class for reset input"
### Expected behaviour
I've been working with [datetimepicker.js](http://www.malot.fr/bootstrap-datetimepicker/) and It's fine.
Now I'm testing datepicker.js and I'm missing the functionality for reset the input.

![capture1](https://cloud.githubusercontent.com/assets/4299372/15595812/7c61a128-2398-11e6-9e2a-27878880d040.PNG)
![capture2](https://cloud.githubusercontent.com/assets/4299372/15595814/

[2016-05-27 06:01] cyberformed commented on #193
Thank you! Replacing the file with eyecon and it works!

[2016-05-27 06:02] acrobat commented on #1902
The library you mention is a different than this library. You should open an issue at [smalot/bootstrap-datetimepicker](https://github.com/smalot/bootstrap-datetimepicker)

[2016-05-27 06:02] #1902 closed

[2016-05-27 06:15] Federico-Comesana commented on #1902
Actually no. I've mentioned a different library only for getting an example.
What I'm suggesting is to copy the behavior of the other library (DateTimePicker.js).
Both are very similar.
This feature is desirable if you want to reset the datepicker without adding custom javascript code.

[2016-05-27 06:19] acrobat commented on #1902
Ah yes I've misread the issue. But we have [`clearBtn`](https://bootstrap-datepicker.readthedocs.io/en/latest/options.html#clearbtn) option, if this is set to `true` it will display a button in the picker to clear it's value.

Example: http://jsfiddle.net/zcvq0yhh/68/

[2016-05-27 12:47] castamir commented on #1679
http://jsfiddle.net/shhb5La2/15/

[2016-05-27 12:49] castamir commented on #1679
duplicates #1622

[2016-05-27 12:50] castamir commented on #1622
http://jsfiddle.net/shhb5La2/15/

[2016-05-27 12:51] castamir commented on #888
http://jsfiddle.net/shhb5La2/15/

[2016-05-27 18:53] abibell commented on #888
Design of Datepicker component contains

1. ```HTML textbox``` with value which displays the date in human readable format.
2. There is a ```date value``` (aka parseDate()) internally represented in the Datepicker component

When we say ```$('#out').val($('#myDate').val());```, we said take the ```HTML textbox``` value and assign it to out textbox value using jQuery. So it is doing as expected, ju

[2016-05-27 20:25] castamir commented on #888
@abibell thanks for your response, but it isn't the answer. It's just a workaround for this issue (or maybe bug).

I used another input just for value visualization. I could use `alert()` or `document.white()` or `console.log()` as well, but it won't change the result. What I actually need is different format for display and different format for real value of the input and that is exactly what I'v

[2016-05-27 22:01] abibell commented on #888
1. You need to display the date in user friendly format. - variable 1.
2. You want to store the value - variable 2.

Sounds like you are hoping one simple type variable will do that job. For now use two variables. I will enhance the documention so we can avoid the misinterpretation that you currently have.

[2016-05-27 22:18] castamir commented on #888
So `format.toValue()` is not working right now (or the way I've expected). I'll call custom format function `toValue()` explicitly, then. It's clear now, thanks.

P.S. updating documentation would be nice

[2016-05-28 11:54] musman92 opened #1903 "only upcoming dates"
i want to select date which is not passed, i.e today and future dates,

[2016-05-29 18:24] sousarka opened #1904 "check for language in a case insensitive way"
This is more of an enhancement than bug. While setting the language, datepickers looks it up in a case -sensitive way. I agree that the language code should be like "en-GB" etc as per ISO, but think it would be better to look up the language code in a case insensitive way.
### Expected behaviour
Tell us what should happen.

### Actual behaviour
Tell us what happens instead.

### Datepicker version

[2016-05-29 23:45] Federico-Comesana commented on #1902
Okay, thanks @acrobat , I didn't notice the 'clearBtn' function.

Thanks!

[2016-05-30 11:43] MostlyChrisJ commented on #1903
[code]

https://bootstrap-datepicker.readthedocs.io/en/latest/options.html#startdate

[2016-05-30 11:48] #1903 closed

[2016-05-30 11:49] acrobat commented on #1903
@musman92  in the GitHub repository we only discuss bugs and new features. For this kind of questions please use any of the support alternatives like [gitter](https://gitter.im/eternicode/bootstrap-datepicker) or [stackoverflow](http://stackoverflow.com/questions/tagged/bootstrap-datepicker) Thanks!

The solution @MostlyChrisJ sugests should fix your problem!

[2016-06-01 01:39] #1871 closed

[2016-06-01 03:14] 1dent1ty opened #1905 "Someting wrong when using type Range."
I just try a example in website below with three params.First I click Today in start,then click Clear in start,but when I pick a date later than today,today in next year for example,end date doesn't change.Only I pick start date again can I change the end date.

I would really appreciate your help.

http://eternicode.github.io/bootstrap-datepicker
$('#sandbox-container .input-daterange').datepicke

[2016-06-01 14:17] benblinky opened #1906 "In datepicker switch, previous and next links should be invisible and does not change over the years disabled"
Datepicker version used is 1.6.1 on https://eternicode.github.io/bootstrap-datepicker/?markup=input&format=dd%2Fmm%2Fyyyy&weekStart=1&startDate=01%2F06%2F2016&endDate=01%2F12%2F2017&startView=2&minViewMode=0&maxViewMode=4&todayBtn=true&clearBtn=false&language=fr&orientation=auto&multidate=&multidateSeparator=&autoclose=on&todayHighlight=on&keyboardNavigation=on&forceParse=on#sandbox

Example code

[2016-06-01 21:25] lifejuggler opened #1907 "startDate and endDate are broken"
### Expected behaviour
setting StartDate and endDate should reflect the option on the input boxes for range option and also other options

### Actual behaviour
error found in console (undefined 'is') the javascript library freezes and doesn't take in anymore input

### Datepicker version used

ex. 1.6.1.

### Example code
*In the sandbox site
https://eternicode.github.io/bootstrap-datepicker/?mark

[2016-06-02 00:47] bertnz commented on #1274
Looks like the exact same issue as here
https://github.com/dalelotts/angular-bootstrap-datetimepicker/issues/219

[2016-06-02 08:19] StepanMas commented on #1880
+1
![61b571214d](https://cloud.githubusercontent.com/assets/6086962/15738416/38437f6a-28bc-11e6-80d0-3dc52faf9e2c.png)

[2016-06-02 11:57] Dimas-sc commented on #29
Having the date-range feature with time pickup functionality would be a killer feature. Hope we can see this implemented soon.

[2016-06-02 18:34] nburns opened #1908 "CSS Hacks"
### Expected behavior
CSS should validate in Safari

### Actual behavior
I get a warning that says "Invalid CSS property declaration at: *"

### Datepicker version used
any

### Example code
![screen shot 2016-06-02 at 11 34 27 am](https://cloud.githubusercontent.com/assets/1725338/15756394/0310941e-28b6-11e6-8e4c-052a5839f262.png)

[2016-06-02 18:35] nburns commented on #1908
Is there an easy/supported way to remove these hacks? I believe they are for IE 7 which I don't care about supporting, and would like to get rid of these errors in Safari.

[2016-06-03 06:55] acrobat commented on #1908
@nburns Can you give some more information on the version used of bootstrap etc or a jsfiddle as I can't find the conflicting css rule in our styles

[2016-06-06 08:47] dougmackenzie opened #1909 "forceParse not working when combined with showOnFocus:false"
The input does not force a correct date when showOnFocus is set to false and an icon is used instead to open the datepicker.

Using version v1.6.1

Example:
https://codepen.io/pen/LZVwqj

[2016-06-07 09:21] pavelgronsky opened #1911 "Add text to input (not data format)"
### Expected behaviour

Hello. I need to add the some text to input, when value will be (2000-20-10). I can add button to the date-picker, but if I try to add text, I always take today date. How can I add only some text to input?
### Actual behaviour

Tell us what happens instead.
### Datepicker version used

ex. 1.6.0.
### Example code

nonConcernedDates: function () {
             var element;

[2016-06-07 10:45] cAhmad commented on #1781
I have a similar issue using jspm

When I bundle + minify my app I get

I did remove the "bad" jquery dependency.

@johnmanko in order to remove the jquery dep you can put in your `package.json`

[code]
under the `jspm` object, so next `jspm install` will remove the correct line in the `jspm.config.js`

[2016-06-08 06:29] PemmasaniRajesh opened #1913 "not showing mentioned format , its taking default format"
### Expected behaviour
I need datepicker to take mentioned format which is format: 'dd/mm/yyyy'

### Actual behaviour
But it is taking default format:'mm/ddyyyy'

### Datepicker version used

I'm not sure about the version

### Example code

Jsfiddle example to reproduce the problem.

[2016-06-08 14:13] alvipeo opened #1914 "Does not respect autoclose after other method is invoked"
I first init jQuery element with datepicker({autoclose: true}), so user sets a value. Now, if I do the same thing *and* then later use .datepicker("update", value) then datepicker does not closes automatically.

Like:
[code]
 => user selects a date and datepicker closes;

IF
[code]
=> user selects a date, datepicked doesn't close.

Really annoying bug.

[2016-06-08 15:16] radman63 opened #1915 "Manual selection from calendar overrides desired format option"
**Expected Behavior**
I have the format set to display "yyyyMdd" so I will see something like 2016jun07.

I also have it configured to pre-populate today's date, so users do not have to do anything if they want to input today's date.

Users can also select a date manually from the pop-up calendar, if they do not want to input today's date.

 I expect that my selected formatting will be applied eve

[2016-06-08 22:42] M-Shahbaz commented on #1717
.next span:before {
								position: relative;
								top: 1px;
								display: inline-block;
								font-family: 'Glyphicons Halflings';
								font-style: normal;
								font-weight: 400;
								line-height: 1;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
								content: "\e080";
								border: 0px;
								color: #333;
							}
							.prev s

[2016-06-13 09:47] biggu0 commented on #1880
＋1

[2016-06-13 09:51] #1512 closed

[2016-06-13 09:51] #1561 closed

[2016-06-13 09:51] #1846 closed

[2016-06-13 10:42] junalmeida opened #1917 "CSS Animations"
I'd like to suggest a feature. CSS animations on events like Show, Hide, choose month and year.

[2016-06-13 11:17] acrobat commented on #1917
what kind of animations would you like to see? Can you provide a little demo jsfiddle? Or open a PR with some suggested changes

[2016-06-14 03:00] leogcry22 opened #1918 ""Months" not translate in Simplified Chinese"
![months](https://cloud.githubusercontent.com/assets/6868570/16029883/1e190120-321f-11e6-8ae2-9955d56949a4.png)

[2016-06-14 11:46] fthdgn68 opened #1919 "Autoclose problem"
I updated all datepicker files. But autoclose doesnt work. How can I do?

[2016-06-14 20:42] vqminh commented on #1233
Still see this on 1.6.1

[2016-06-15 06:22] acrobat commented on #1233
Can you guys provide a jsfiddle to show if the problem still persists? It should be fixed with the pr, but maybe some new code broke it against

[2016-06-15 10:36] paperless commented on #1809
Thanks, I was having this issue :+1:

[2016-06-15 10:55] StrongLucky commented on #1364
I also had the Problem with wrong offset.

I had margin-top on the **body element**. On **change margin-top to padding-top** the datepicker works fine with offset.

Dont like to change the code of a plugin. Maybee the developer should have a look at this problem ;)

[2016-06-15 21:28] fkammer commented on #1758
@LuciferZhang @victorleal I wrote a new angular wrapper from scratch as the old one is no longer maintained: [fkammer/ng-eternicode-datepicker](https://github.com/fkammer/ng-eternicode-datepicker)

[2016-06-16 06:05] decimoseptimo opened #1920 "Datepicker gets incorrectly oriented"
I'm overridding two css classes

[code]
### Expected behaviour
Depending on what orientation takes into account (e.g. fixed elements, browser's window only). This may or may not be a bug. But I'd expect it doesn't underlaps other elements when 'auto' oriented.

### Actual behaviour
.datepicker gets underlapped to .navbar-fixed-top
![fireshot screen capture 015 - ordenes - 192_168_1_100_9997_index_

[2016-06-17 06:48] linsolas opened #1921 "Change the dependency on jQuery not to allow jQuery 3?"
Hello,

Bootstrap 3 is [not compatible with jQuery 3](https://github.com/twbs/bootstrap/issues/16834), and may not be corrected to support that version.
Unfortunately, bootstrap-datepicker allows [any version of jQuery superior to 1.7.1](https://github.com/eternicode/bootstrap-datepicker/blob/master/package.json#L27-L29):

[code]

Shouldn't bootstrap-datepicker restrict the jQuery version, somethi

[2016-06-17 06:51] acrobat commented on #1921
Yes that's indeed a too open constraint! Can you open a PR for that? If you open a PR please also update the constraint in `bower.json` and `composer.json`

[2016-06-17 06:59] linsolas commented on #1921
Thanks. I wanted to have a collaborator opinion before. I've made the #1922 for that.

[2016-06-17 07:05] acrobat commented on #1921
:+1:. Fixed in #1922

[2016-06-17 07:05] #1921 closed

[2016-06-18 12:19] skorunka opened #1923 "Component for Daterange"
### Expected behaviour
Components("input-group-addon") inside a "input-daterange" should trigger the datepicked dialog.

### Actual behaviour
Component does not work for date-range.

### Datepicker version used

ex. 1.6.1.

[2016-06-20 07:21] #1809 closed

[2016-06-20 19:08] GrainRainC opened #1925 "Let the control better handle the issue of the month in Chinese"
### Expected behaviour
For Chinese users, using language pack modified date format (month). In the input box format will
format will become bad treatment, should be shown as 2016-4-3 yyyy-mm-dd but the actual display is 2016- April. This process up a little bit of trouble. So, I do a small change

### Datepicker version used
ex. `1.6.1.`

### Example code
bootstrap-datetimepicker.js

666. ` this.s

[2016-06-21 17:37] austenc opened #1927 "Unexpected Parsing and Date select behavior with IE11 and Firefox"
### Expected behaviour
Manually entering a date like `1/2/12` should parse/format the entry without changing the month, day, or year from what was entered. This happens in IE11 and also in Firefox (version 43.0.3), but not in chrome.

### Actual behaviour
Manually typing in a date causes several different strange things to happen in firefox and IE:
* When you type `1/2/12` or `01/02/12` in the dat

[2016-06-23 13:53] alzambo commented on #1837
Me too.. I'm listening to 'changeDate' event...

[2016-06-24 13:21] bioteck commented on #978
Using `shown` and `hidden` events instead of `show` and `hide` is not always possible. A better workaround is to check the event namespace:

[code]

[2016-06-26 15:54] nulledcc opened #1929 "changeDate event on auto correcting date"
### Expected behaviour
When datepicker autocorrects date let say:
26-0-2016 to 26-12-2016
The event "changeDate" dont take any action and not working
### Actual behaviour
Tell us what happens instead.

### Datepicker version used

ex. 1.6.1.

[2016-06-28 15:34] lenamtl opened #1930 "Button input-group-addon icon it's not working with ID"
### Expected behaviour
When clicking on button input-group-addon icon it's open the calendar

### Actual behaviour
When clicking on button input-group-addon icon  it's not opening the calendar

### Datepicker version used

v1.7.0-dev

### Example code

It's working ok if I use` data-provide="datepicker"` but it's not taking my custom settings.
[code]
I have tried the sandbox code demo it's working

[2016-06-28 17:15] piotr-cz commented on #1665
Same here, additionally it looks like it's a duplicate of https://github.com/eternicode/bootstrap-datepicker/issues/1643.

[2016-06-28 17:15] piotr-cz commented on #1643
Did you manage do resolve the issue?

[2016-06-28 21:11] tiesont commented on #1930
I think you mixed up the "expected" versus "actual" behavior, unless you **don't** want the calendar icon to open the datepicker.

[2016-06-29 03:54] rifal89 opened #1931 "Only select Year"
Hello,

How to only select year (without month and day)?

Thanks

[2016-06-29 09:57] kzpromo opened #1932 "datedDisabled on changeMonth and on show not working"
### Expected behaviour
I want to disable date via loading by ajax. When datepicker onpens it must setDisabledDates from loaded array

### Actual behaviour
I tryed set it by show and changeMonth event, but i did't find any example how to make it.
Please help me to solve this problem

### Datepicker version used

v1.7.0-dev

### Example code
[code]
Jsfiddle example to reproduce the problem.

[2016-06-30 05:21] Nicklezz commented on #1919
You mayremove the class in the changeDate event as a workaround:
[code]

[2016-06-30 06:46] acrobat commented on #1919
@fthdgn68 can you provide a jsfiddle to show the problem? And provide us the version you use for the datepicker

[2016-06-30 08:30] ebrost commented on #978
@bioteck Best solution. Thanks

[2016-06-30 14:53] lenamtl commented on #1930
Ho yes sorry I have corrected that ;)

[2016-07-01 14:42] karl-kallavus commented on #1931
@rifal89
[code]

And notice the space in `format: " yyyy"`

[2016-07-01 20:02] miguenetoarte commented on #1622
Datepicker with error in leap year. It is displaying the wrong date from July. Does anyone know how to solve this ?

[2016-07-02 05:26] paico commented on #1565
Hi guys,
I had this problem and the solution was to add this line before calling the datepicker:

`$(document).ready(function () {`

My code looks like this:

`<script>
    $(document).ready(function () {
        $('.datepicker1').datepicker({
            format: 'mm/d/yyyy',
            assumeNearbyYear: true,
            autoclose: 'true',
            startView: '',
            todayHighlight: t

[2016-07-02 13:56] danielwermann commented on #50
@Kingroys Thank you.

[2016-07-02 14:23] bjensen opened #1935 "Month display issue on Internet Explorer 11"
![datepicker](https://cloud.githubusercontent.com/assets/53865/16540790/b19b75c2-4070-11e6-95ce-7751bc013758.jpg)

Versions: Datepicker 1.6.1, Bootstrap 2.3.2, jquery: 1.8.1

How to reproduce: Visit http://www.bootply.com/pgiNljsZGO with Internet Explorer 11 and click on any of the input fields and then two times on the next month button.

At the bootply I've pasted in the code js and css code fro

[2016-07-04 11:45] robertgt90 commented on #978
I agree @ebrost

[2016-07-05 15:30] astrosteve101 commented on #312
This still seems to be an issue years later.  I'm using the jQuery dialog, and when I click on the calendar icon, the datepicker appears very far down the screen, or completely off the screen.  One person said don't make the input type hidden, make it invisible with a style, I tried that, but it didn't change anything.

[2016-07-06 09:00] fsbernardo opened #1937 "keepEmptyValues option: Doesn't exist inside dist/js files"
### Expected behaviour
Option "keepEmptyValues" should be defined inside "dist/js" files

### Actual behaviour
There is no reference of this option in the actual files

### Datepicker version used
1.6.1.

[2016-07-06 09:02] fsbernardo opened #1938 "bootstrap-datepicker.nb.min.js file: Doesn't contain "clear" property"
### Expected behaviour
Localized resource text for "clear" property doesn't exist in this file (and others)

### Actual behaviour
Existence of this localized resource property in the all "locales" js files

### Datepicker version used
1.6.1.

[2016-07-06 11:00] acrobat commented on #1937
keepEmptyValues was added in 1.7.0 (#1558) and this version is not yet released. So the option is not available in 1.6.1

[2016-07-06 11:00] #1937 closed

[2016-07-06 12:53] atyapin opened #1939 "Field is not cleared when date entered by hand is incorrect"
### Expected behaviour
If value is not valid it should be cleared or restored from a previous correct value
### Actual behaviour
I choose a date with Datepicker

![image](https://cloud.githubusercontent.com/assets/16883882/16618076/fe0495de-438f-11e6-8674-a63fa70e7eb3.png)

After that I close a calendar with Esc and erase some characters

![image](https://cloud.githubusercontent.com/assets/1688388

[2016-07-06 13:32] fsbernardo commented on #1937
Hei,
You are correct. I haven't write down the correct version.
So I rephrase: On master version the option "keepEmptyValues" aren't defined as an default/option in "dist/js" files

[2016-07-06 13:54] acrobat commented on #1937
Ah yes, we a version is not released (dev-master code) we have to generate the dist files from time to time. This time it was a long time ago, so I've generated the dist files so you should be able to use the option now on master

[2016-07-06 17:57] gqqnbig opened #1940 "Change the preference of auto orientation"
Currently when there are enough space both above and below the input, `orientation=auto` will make the calendar appear at the top.

Are you able to add a new option and let the calendar appear at the bottom by default, and only appear at the top when there is no enough space below?

### Datepicker version used
1.6.1.

[2016-07-08 08:53] aifrim opened #1941 "body margins affects positioning"
### Expected behaviour
To be displayed properly.

### Actual behaviour
The calendar is shown with its position affects by the margins of the body element.
I've added via DevTools margins to the body on the sandbox site and it manifested the same behavior.

### Datepicker version used
1.6.1.

### Example code
Add margin-top and margin left with positive and negative values and see.

Here's the [fid

[2016-07-08 12:39] johnyb opened #1942 "wrong assumption about ISO8601 being used for week numbering"
### Expected behaviour
Using `en` locale, week numbering should be done according to calendars in the U.S. For year 2016, January 1st should be in week one.

### Actual behaviour
January 1st is in week 53 of 2015, due to the assumption that week 1 contains the first Thursday of the year. This does not hold true for `en` locale.

### Datepicker version used

1.6.1.

### Example code

https://eterni

[2016-07-08 20:15] jason-bean commented on #1609
I've been seeing what DonDavio describes in my project. Setting the defaults via $.fn.datepicker.defaults on page load and using lazy init like the addon example with data-provide="datepicker". First time the input is focused the picker shows. Any subsequent focus works as should be expected. It's like the defaults aren't being applied until after the datepicker has been initialized and shown.

[2016-07-09 06:53] lathamios opened #1943 "Have calendar open on today's date even though set date array included"
Hi

First, thanks for the great plugin. My question is whether it is possible to have the calendar always open on today's date even though I have included an array of dates in setDate. Right now it opens on the last setDate date, but I want it to open on Today's date. My temporary hack is to simulate a click on the "today" link on page load, but this is not ideal.

Thanks for your help!

[2016-07-11 03:45] ProgrammerZ opened #1944 "forceParse does not work when datepicker is not invoked"
$('.datepick').datepicker({
    forceParse: true,  // for clarity reasons only
    startDate: "+1d",
    endDate: "+365d",
    showOnFocus: false
});
The datepicker is used as Component, so the calendar is displayed only when user click on the icon.

The problem is when user enters an invalid date in input using keyboard ( out of range or something like '88/88/8888 ) nothing happens. The date is o

[2016-07-11 05:39] niravdhanorkar commented on #865
Hi same issue for me. I am searching it, if i'll find i let you know. :)

[2016-07-12 10:03] albertotn commented on #1899
hi!
Here an example for this behavior on Firefox 47.0 and Chrome 51.0

https://jsfiddle.net/sx49tcjx/1/

please see console for following error:

[2016-07-13 05:31] rifal89 commented on #1931
Okay, thanks

[2016-07-13 15:12] tiberakis opened #1945 "getDate with range datepicker"
I want get the date of a datepicker using the getDate method. Although all is fine with a single datepicker, when i try the same with a range datepicker I can't get the date.
Here is the html:
`<div class="input-group input-daterange" id="datepicker">
			<input type="text" class="form-control"  >
			<span class="input-group-addon">to</span>
			<input type="text" class="form-control">
</div>`
Here

[2016-07-14 00:05] fernandowalla commented on #1584
Instead of margin-top/margin-bottom use:

body {
	font-family: $open_sans;
	font-size: $font_base;
	color: $font_color;
	padding-top: $navbar_height_int;
	padding-bottom: $footer_height;
}

[2016-07-14 11:27] anpegar commented on #1816
Hi !!
The problem wasn't solved in 1.5.1 and upper.

I've found out that in the 1.3.0 works fine !!

Version 1.5.1
![image](https://cloud.githubusercontent.com/assets/8124520/16837920/b4b6b136-49c6-11e6-9f2c-3dc9383918b4.png)

Version 1.3.0
![image](https://cloud.githubusercontent.com/assets/8124520/16837906/943686ca-49c6-11e6-941e-5c6d8105c9c0.png)

[2016-07-14 11:28] anpegar commented on #1880
https://github.com/eternicode/bootstrap-datepicker/issues/1816

[2016-07-14 12:10] acrobat commented on #1816
@anpegar can you provide a jsfiddle example? thanks!

[2016-07-14 12:55] diedona commented on #1898
Anyone got a workaround? Any API option for this?

I worked my way out editing the code to only update the values when i have a "full date" (dd/mm/yyyy), but that's kinda nasty...

[2016-07-14 13:56] anpegar commented on #1816
Here it is
https://jsfiddle.net/7f0f0ao4/

If you change this
//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/js/bootstrap-datepicker.min.js

by this
//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js

It works fine !!

[2016-07-14 15:05] tiberakis commented on #1945
I solved the problem using the getDate method on each input of the range datepicker. Here the example:
[http://jsfiddle.net/vh1oknf7/141/]
As i said it was a stupid mistake.

[2016-07-14 15:05] #1945 closed

[2016-07-14 19:42] tythewebguy commented on #1837
I'm running into a similar problem when trying to type in a date. If I start to type 1/1/12, the changeDate event fires at 1/1/1 and sets the date to 1/1/2001. WRONG! That should only happen if i enter 1/1/01.

[2016-07-15 14:22] fatuhoku commented on #195
Doesn't work for me. startDate doesn't do anything when passing it in through the initialization dictionary.

[2016-07-16 03:49] a741841403 opened #1947 "Datepicker can not work in firefox"
### Expected behaviour
Datepicker can not work in firefox

### Actual behaviour
TypeError: (intermediate value).toString(...).split(...)[1] is undefined

### Datepicker version used

ex. 2.0

### Example code

[2016-07-17 21:37] pugnascotia opened #1948 "Broken against jQuery 3"
### Expected behaviour
Contents of picker widget e.g. days of the month should be displayed.

### Actual behaviour
Picker opens but contents are not displayed

### Datepicker version used

1.6.1
Broken against jQuery 3.0.0 and 3.1.0

### Example code

http://jsfiddle.net/4x9wfayw/

[2016-07-21 03:01] bcrigler commented on #1948
ditto

[2016-07-21 07:44] codengine opened #1950 "Copy and Paste with Multidate does not work"
### Expected behaviour
Starting with 1.4.0+ copy and pasting multiple dates does not work. The expected behaviour was that pasting some dates should mark them inside the calendar, which is the case in 1.4.0.

### Actual behaviour
In 1.4.0+ (1.5.0, 1.6.0, 1.6.1), pasting will replace the pasted dates with the current date, which is unexpected. I was able to trace the bug to the point where the upda

[2016-07-22 09:31] glen-84 commented on #1948
`Error: Bootstrap's JavaScript requires jQuery version 1.9.1 or higher, but lower than version 3`

[2016-07-22 11:00] glen-84 commented on #1698
@acrobat,

Here is a [fiddle](https://jsfiddle.net/dwzb8a49/). Is it possible to have the plug-in parse and format the current value of the text field during initialization?

[2016-07-22 12:17] pugnascotia commented on #1948
If I'm reading this thread correctly, Bootstrap have addressed this:

https://github.com/twbs/bootstrap/issues/16834

However it's targeted at v3.3.7, which isn't available yet.

[2016-07-22 16:28] danielbonnell opened #1952 "Feature Request: Select Time Inline"
This is a feature request for an inline time selector similar (or exactly) like the one that [Buffer](https://buffer.com/) uses. Buffer's datepicker is a fork of this project but has not received a commit in several years. I'd like to use it for a project, but it lacks many of the customization options that this project now has. I have not seen any other Bootstrap datepicker plugins with an inline

[2016-07-23 22:08] PeterSawyer commented on #1584
Yep @fernandowalla is correct, for some reason my body had margin-top instead of padding-top for my fixed nav.

Fixed with this: -

`body {
	padding-top: 60px;
}`

[2016-07-25 08:59] WuKongwu opened #1955 "ie10 slice"
SCRIPT5007: Unable to get property 'slice' of undefined or null reference
bootstrap-datetimepicker.js, line 112 character 5

[2016-07-25 09:36] WuKongwu commented on #1955
I'm sorry I found the problem is due to the entire address of zip download
“http://www.bootcss.com/p/bootstrap-datetimepicker/”
 download developer but be careful not to download the whole zip download from git

[2016-07-25 09:36] #1955 closed

[2016-07-25 18:23] lenamtl commented on #1930
I'm still doing test with no luck

[code]

This is opening the calendar from the input only
$('#expiration').datepicker({
});

This work ok only if I use the class .input-group.date not the id #expiration for both input and button
How can I get the same result with the id?
[code]

This act like 2 different calendar
[code]

This don't work at all
[code]

[2016-07-25 18:58] tiesont commented on #1930
That last one will never work. Are you aware of [how CSS selectors work](https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started/Selectors#Information_Selectors_based_on_relationships)? `#expiration` is a descendant of `.input-group`, not the other way around (which is what your selector is trying to match). If you really only want the one element selected, use `.parents()` or `.clo

[2016-07-25 19:17] lenamtl commented on #1930
I didn't pay attention.... shame on me... thanks

[2016-07-25 19:17] #1930 closed

[2016-07-26 10:52] skorunka opened #1956 "How to add custom class to DatePicker popup?"
### Expected behaviour
During the DatePicker initialisation I would like to add a custom class which will be applied to a dynamically created DatePicker popup. A need to distinguish popus generated for a normal DatePicker and a DateRangerPicker so I can apply different styling.

### Actual behaviour
No way to add a custom class during the initialisation.

### Datepicker version used

v1.7.0-dev

[2016-07-26 13:15] zellerda commented on #1639
This worked for me
[code]

[2016-07-26 19:22] hakuno commented on #1948
Okay, Bootstrap `3.3.7` is released. And Datepicker `1.7.0` isn't working. Any help? I can't get it working with jQuery `3.1.0` right now.

[2016-07-27 09:18] joantorres commented on #1948
Same problem here. Any workaround other than going back to jQuery 2?

[2016-07-27 12:07] lucasmm commented on #1948
for now i'm using this in bower.json

`"bootstrap-datepicker": "https://github.com/eternicode/bootstrap-datepicker.git#e48ea20"`

e48ea20 is commit where correction has been made.

[2016-07-27 15:23] glen-84 commented on #1948
jQuery migrate shows the following:

[code]

[2016-07-27 21:08] acrobat commented on #1948
I should be able to make some time next week to look into this issue

[2016-07-27 21:10] acrobat commented on #1947
@a741841403 please provide a jsfiddle example, makes it easier to debug the issue

[2016-07-27 21:37] gqqnbig opened #1957 "Manually typing a date and tabbing out will not raise onchange event on IE 11"
This is a sample page.

[code]
The input control has an `onchange` attribute that when the event is triggered, the value of the input is written to the console.

## How to reproduce

Open developer tool so you can see the output, if any.

The initial focus should already be in the input on IE 11. DO NOT use mouse. Type 11/11/1111 and hit the <kbd>tab</kbd> key. The focus is moved to the next butto

[2016-07-28 14:00] rhpot1991 commented on #1948
Bit by this when upgrading NuGet packages.  Previously Bootstrap didn't support jQuery 3, but now that they do I am free to upgrade.  I get an empty date picker when jQuery 3 is in place.

[2016-07-28 23:45] evanleck commented on #1948
Bootstrap v4 just added support for jQuery 3 with the [alpha 3 milestone](https://github.com/twbs/bootstrap/milestone/35?closed=1).

Running against that, I see an issue with `display: none` on `.datepicker-months`, `datepicker-years`, `datepicker-decades`, and `datepicker-centuries`. They all remain hidden even once `div.datepicker` is shown.

[2016-07-29 12:03] Danielix16 opened #1959 "Add days to checkout date"
Good day everyone,
i'd like to add 2 day after choosing checkin date. My purpose is to manage minimum stay so if a checkin date has 2 days of min stay (for example 29 july), checkout input will be populated with next dates starting from 31 july.

Hope to be clear enought i'm waiting for your suggestion.

Thks. Daniele.

### Datepicker version used
Datepicker for Bootstrap v1.4.0 (https://github.co

[2016-07-29 20:02] reza239 commented on #1780
Yeah, I also need to convert it to **Jalali Calendar**. I think it's the best datepicker.
Please find a solution to improve it. Thanks.

[2016-07-29 20:43] reza239 commented on #1780
How can I add 31 days in first 6 month of calendar?
Because in Jalali 0-5 month have 31 days.

[2016-07-30 15:58] codymullins commented on #978
thanks @mrlinnth

[2016-07-31 20:45] slaviktim opened #1960 "Multiple disabled dates comma separated doesn't work with 1.6.1"
Doesn't allow to set disabled dates like 08/01/2016,08/02/2016 - only single date allowed. I've modified local copy with the next code:

o.datesDisabled = o.datesDisabled||[]; // present code
// added code in _process_options function
var str = o.datesDisabled;
var patt = /\d,/g;
if(patt.test(str)) {
      o.datesDisabled = str.split(",");
}
// end

ex. 1.6.1.

[2016-08-01 10:18] YMA-MDL commented on #136
+1 !

[2016-08-01 10:27] ldjdsc opened #1961 "close piker then call hide.bs.modal?"
$("#myModal" ) .on("hide.bs.modal",
function(e) {
alert("BUG");
});

[2016-08-01 14:26] Nuruddinjr opened #1962 "upgrade guide"
### Expected behaviour
I have installed  Stefan Petre's original code library in my template which I got,however I want to upgrade to this library. When I have old library it works fine, but after i Change datepicker doesn't show.
### Actual behaviour
Tell us what happens instead.

### Datepicker version used
Last version is used.
ex. 1.6.1.

### Example code
`$('.datepicker').datepicker({

[2016-08-02 20:56] Debuckne95 opened #1963 "How to hide the Weekends"
I haven't changed any of the original code, I just wanted to know how to use the beforeShowDay setting to hide the weekends from the datepicker's dropdown menu.

### Datepicker version used

ex. 1.6.1.

[2016-08-03 12:50] acrobat commented on #1948
It seems that #1964 fixes the jquery3 iqque. Can you guys test and confirm the patch?

[2016-08-03 14:35] glen-84 commented on #1948
@acrobat #1958 looked like a better (and cleaner) fix to me, but I don't have time to test it right now.

[2016-08-03 15:24] evanleck commented on #1948
@glen-84 @acrobat I've updated my code with that fix and it works fine for me.

[2016-08-03 17:44] #1948 closed

[2016-08-03 18:03] acrobat commented on #1948
PR #1958 was merged in master and the fix is backported to 1.6 in https://github.com/eternicode/bootstrap-datepicker/commit/a923be23ef98046f254206ff98366eb8b3fc6e1f. A new version (1.6.2) was pushed and published

[2016-08-03 18:31] #1788 closed

[2016-08-03 18:46] acrobat commented on #1962
I really can't say what went wrong but I'm sure a simple upgrade from stefan's code to this code base is not possible as there is years code changes in this repository.

The example code should work. Closing this issue for now, please comment with a jsfiddle example that has the same problem you are experiencing.

[2016-08-03 18:46] #1962 closed

[2016-08-03 18:50] acrobat commented on #1918
@leogcry22 That's because the translation is missing in the translation file (https://github.com/eternicode/bootstrap-datepicker/blob/master/js/bootstrap-datepicker.js#L1034). Please open a PR and provide a translation for `monthsTitle`. Thanks!

[2016-08-04 05:28] umairali opened #1966 "Highlight specific dates not working correctly"
I am trying to highlight specific dates but the result is incorrect. Date picker highlight another date and not highlight the specific provided date.

`
    $('.calendarDR').datepicker({
        autoclose: true,
        todayHighlight: true,
        "setDate": new Date(),
        beforeShowDay: function(date)
	{
                 var dat = date.getUTCDate() < 10 ? '0' + date.getUTCDate() : '' + dat

[2016-08-04 07:40] asmaazoghbi opened #1967 "Bootstrap date picker in arabic showing extended white backgound"
In arabic language bootstrap has an extended white background.
The position of the datepicker is not getting over the input as in (english datepicker)

Please any help

[2016-08-04 16:36] HartLarsson commented on #471
there are also some undocumented triggers:

changeHour
changeMinute

should be great to trigger when during time picking after selecting Hour will apear the minutes to pick to process some view tweak like:

[code]
but seems it trigger asap you select a hour or a miute and cannto be used to "know" in witch view the user is (hour pick or minute pick)

[2016-08-04 18:24] priley86 commented on #1948
@acrobat hi, can you explain why `jQuery.unique` was left in, and we have not merged `jQuery.uniqueSort`? [uniqueSort](https://api.jquery.com/jQuery.uniqueSort/) is supported by jQuery `1.1.2+`

[2016-08-04 18:29] acrobat commented on #1948
I overlooked that extra fix, will make some time and change the method and push a new release!

[2016-08-04 19:09] acrobat commented on #1948
@priley86 Can you test commit https://github.com/eternicode/bootstrap-datepicker/commit/df4542c95ba126a3847e5d275d71897b8f79b086 if this is enough for your issue?

[2016-08-04 23:58] tineyi commented on #561
Was this ever fixed?

[2016-08-05 02:00] priley86 commented on #1948
@acrobat +1 this will resolve this issue

[2016-08-05 06:09] asmaazoghbi commented on #1321
@rhoggSugarcrm  is the issue solved? I tried the changes done in #1384 but the problem is not solved.
Please any suggestions to solve this issue?

[2016-08-05 06:26] acrobat commented on #1948
I've pushed a new release with the uniqueSort fix! https://github.com/eternicode/bootstrap-datepicker/releases/tag/v1.6.3

[2016-08-05 09:41] Lambik opened #1969 "Code breaks minification"
Hi,

### Expected behaviour
I use gulp to minify (uglify) my code, including yours as a bower component. The uglify process errors out because of:

    SyntaxError: Unexpected token name «$», expected punc «)»]

The line it is referring to is probably this:

    replace:function(b){b&&(a.isArray(b)||(b=[b]),this.clear(),this.push.apply(this,b)$.isFunction()},clear:

See the random $.isFunction().

[2016-08-05 09:45] jk2K commented on #1969
https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.3/js/bootstrap-datepicker.min.js
I have the same problem,  `Uncaught SyntaxError: Unexpected identifier`

[2016-08-05 09:48] Lambik commented on #1969
Indeed, just verified it with setting an explicit bower version: 1.6.3 breaks the minification, while 1.6.2 works.

[2016-08-05 09:54] acrobat commented on #1969
I don't know what went wrong, but deleted the minified js file and regenerated it. This fixed the issue. New dist files were generated on master and v1.6.4 was pushed with the correct minified file!

Thanks for reporting @Lambik

[2016-08-05 09:54] #1969 closed

[2016-08-05 10:04] Lambik commented on #1969
Thanks for the quick fix!

[2016-08-05 12:44] vavrecan opened #1971 "disableTouchKeyboard does not work with input-group component"
### Expected behaviour
when using disableTouchKeyboard on datepicker initialized in input-group, keyboard should not be shown on mobile

### Actual behaviour
the keyboard is shown

### Datepicker version used
1.7.0-dev

### Example code
<div class="input-group date">
    <input type="text" class="form-control" value="12-02-2012">
    <div class="input-group-addon">
        <span class="glyphicon g

[2016-08-06 20:40] #157 closed

[2016-08-06 20:54] acrobat commented on #809
We always welcome additions and fixes to our docs. If anyone would like to help, just open a new pull request with changes you would like to apply.

Closing this issue for now

[2016-08-06 20:54] #809 closed

[2016-08-08 13:22] amilligan opened #1972 "Please update the changelog"
Changelogs are very helpful.

[2016-08-10 07:55] EugenMayer commented on #1670
Is there any progress on this side at the moment? We are using bootstrap4-alpha3 pretty heavily already and i would suggest it could make sense migrating this also? We have been using bootstrap-datepicker with bootstrap2 and would love continuing to do so.

What are the expected working-areas to adjust the datebicker? are those mostly theme / css related things?

[2016-08-10 07:57] acrobat commented on #1670
I haven't looked into detail on what should/must change, but my first idea is that we would need to switch some classes and provide a bs4 stylesheet

[2016-08-10 08:00] EugenMayer commented on #1670
Well if you guys could guide me a little bit, we could try to do some first attempts here to see, how "low hanging fruits" this topic might be and what concrete issues would arise. What do you think?

[2016-08-10 08:03] acrobat commented on #1670
@EugenMayer all help is welcome! Maybe you could just load up a bs3 datepicker in the new bs4 style and see what styles are wrong and start making a list of classes/styles (in a separate issue) we should change. That way we have already an idea on how much work this will be

After that we can start on a plan what steps we should take (the introduction of themes is one of those)

[2016-08-10 08:05] EugenMayer commented on #1670
Perfect, will do that and report back. We will try to see what we can fix and show off those things using pull requests to see, how things work out

[2016-08-10 08:05] acrobat commented on #1670
That's great @EugenMayer, thanks!

[2016-08-10 08:11] adeiry opened #1974 "Style doesn't look properly"
Hi everyone,
I'm using the bootstrap datepicker and I have a trouble with the calendar style.
Below a screenshot shows my issue clearly:
![image](https://cloud.githubusercontent.com/assets/9880387/17546485/03c041a0-5eeb-11e6-9890-ca87356b43cf.png)
Can anyone please help me to fix this issue.

Thank you very much.

[2016-08-10 08:19] adeiry commented on #1974
Here's the order of css and js files:
![css](https://cloud.githubusercontent.com/assets/9880387/17546743/3c87451e-5eec-11e6-9191-62a69c56dff8.png)
![js](https://cloud.githubusercontent.com/assets/9880387/17546745/3e860bca-5eec-11e6-82fb-a7f06c97c7f6.png)

[2016-08-10 09:49] alanpeng899 commented on #1961
I found the same problem on "show.bs.modal" event

[2016-08-10 17:40] ansballard commented on #1814
Not sure if this is what you mean, but I call `el.off("change");` at the top of my link function, where el is the 2nd param passed to link. I then initialize datpicker on el and chain `.on("changeDate")` to manipulate ngModel. Hope that helps, I'd be glad to add more code if not. And for reference I'm using angular@1.5.8/jquery@3.1.0/bootstrap-datepicker@1.6.4

[2016-08-11 07:00] philwu opened #1975 "Is it possible to add a option "datesEnabled""
Is it possible to add a option "datesEnabled"?
Any dates apart from this option is disabled.

I want my users to know which dates they have made orders so they can select a date to view their orders on that date.

Thank you very much.

[2016-08-11 07:05] acrobat commented on #1975
You can use the `beforeShowDay`callback to achieve this kind of behavior, check if the current date equals on of the enabled dates otherwise return false. See [ beforeShowDay docs](https://bootstrap-datepicker.readthedocs.io/en/latest/options.html#beforeshowday)

[2016-08-11 15:09] rhpot1991 commented on #1948
Anyone know how this gets pushed to NuGet?

[2016-08-11 18:12] acrobat commented on #1948
@scott-xu maintains the nuget package! Ping @scott-xu

[2016-08-12 09:01] mustafaarun opened #1976 "setDate and / or Update"
### Expected behaviour
should only update date, keeping initialized options for example "format" or "startDate"

### Actual behaviour
options resets

### Datepicker version used
v1.6.0

[2016-08-12 10:51] alvarotrigo opened #1977 "Format for setEndDate and setStartDate?"
Documentation doesn't mention which format is expected for `setEndDate` or `setStartDate`.
It refeers to endDate option, which doesn't either explain the required format.

I do not want to base endDate and newDate on the current date, but on a specific date. For example:

[code]

[2016-08-14 07:59] musabsudan commented on #1967
Same here

[2016-08-15 00:41] jelhan commented on #1052
Duplicate of #1154

[2016-08-15 00:41] jelhan commented on #983
Duplicate of #1154

[2016-08-15 00:42] jelhan commented on #1047
Duplicate of #1154

[2016-08-15 00:43] jelhan commented on #1477
Duplicate of #1154

[2016-08-15 00:55] jelhan commented on #1154
For some use cases you could use multiple datepicker to achieve this. Here is a JSFiddle: https://jsfiddle.net/v6q2rxs0/

In short:
* Create multiple datepicker and adjust the month which is initially displayed by `defaultViewDate` option.
* Sync selected dates by a combination of `changeDate` event and `setUTCDate` method. Watch out that `setUTCDate` method triggers `changeDate` event. Could easi

[2016-08-16 12:02] jelhan opened #1978 "Add methods `getViewDate`, `setViewDate` to public api"
Would you accept a PR which adds `getViewDate` and `setViewDate` methods to public api? Implementation should follow `defaultViewDate` even so at least I didn't expected such a syntax.

So in detail I like to add this public api methods:

`$().datepicker('getViewDate');` returns current viewDate as a plain object having keys `year`, `month`, `day`.

`$().datepicker('setViewDate', { year: 2000, mon

[2016-08-16 12:13] jelhan commented on #1977
Conversion is implemented here: https://github.com/eternicode/bootstrap-datepicker/blob/6788e92fc9d277a93c7be5e11236c0ec583af679/js/bootstrap-datepicker.js#L246-L268 It looks like both `Date` object in local time (see implementation of `_zero_time` method which is used for conversion) or a string parsed with `format` option is possible. Should be documented.

[2016-08-17 00:19] andrews05 opened #1979 "Missing namespace for 'show' event causes problems for other event listeners."
Whenever the datepicker gets shown it triggers a 'show' event with no namespace, which causes it to get picked up anything listening for 'show.*' as it bubbles up.

I have a datepicker inside a bootstrap collapse element with a listener on the collapsible for 'show.bs.collapse'. When the datepicker gets shown my listener thinks the collapsible was shown and causes odd behaviour.

This can easily b

[2016-08-17 09:02] fossecode opened #1980 "Switching month when setting disabled dates dynamically"
### Expected behaviour
I am making a calendar which loads disabled dates when changing months. Every time the month switch, an ajax request is sent for the previous month, the current month and the next month. Nothing should change on the calendar except of the disabled days.

### Actual behaviour
The disabled days are disabled correctly, but the month visible in the calendar jumps back to the `de

[2016-08-17 14:15] scott-xu commented on #1948
pushed

[2016-08-18 02:36] decimoseptimo opened #1981 "Add locale for es-latin"
Start day for Spanish and other European countries may be Monday, but for Latin Americans, likewise North Americans, it's Sunday.

https://github.com/eternicode/bootstrap-datepicker/blob/master/js/locales/bootstrap-datepicker.es.js#L15

[2016-08-18 02:46] #1920 closed